n8n/workflows/booking-conversation.json
{
  "updatedAt": "2026-04-11T17:35:17.328Z",
  "createdAt": "2026-04-05T11:57:05.455Z",
  "id": "ztxCL7QS1DLo1i59",
  "name": "Plan — Booking Conversation",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-conversation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        64
      ],
      "webhookId": "a12147a8-c4d5-4317-abc1-53989c791940",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "merchant_id,phone"
            },
            {
              "name": "select",
              "value": "id,name,phone,whatsapp_id,loyalty_points,preferred_service_id,preferred_practitioner_id,preferred_language"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"merchant_id\": \"{{ $('Find Merchant').first().json.id }}\",\n  \"phone\": \"{{ $('Webhook Trigger').first().json.body.sender_phone || $('Webhook Trigger').first().json.sender_phone }}\",\n  \"whatsapp_id\": \"{{ $('Webhook Trigger').first().json.body.sender_phone || $('Webhook Trigger').first().json.sender_phone }}\",\n  \"name\": \"{{ $('Webhook Trigger').first().json.body.sender_name || $('Webhook Trigger').first().json.sender_name || 'Inconnu' }}\",\n  \"preferred_language\": \"fr\"\n}",
        "options": {}
      },
      "id": "identify-client",
      "name": "Identify Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "Upsert client by (merchant_id, phone). Returns row (insert or update). Auth via credential mRd60LO2hwQq9oBH.",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "conversation_id",
              "value": "=eq.{{ $('Ensure Conversation').first().json.id }}"
            },
            {
              "name": "select",
              "value": "content,sender,created_at"
            },
            {
              "name": "order",
              "value": "created_at.asc"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "options": {},
        "qs": {
          "parameters": [
            {
              "name": "conversation_id",
              "value": "=eq.{{ $('Ensure Conversation').first().json.conversation_id }}"
            },
            {
              "name": "select",
              "value": "content,sender,created_at"
            },
            {
              "name": "order",
              "value": "created_at.asc"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        }
      },
      "id": "load-history",
      "name": "Load Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "Load last 10 messages from active conversation for context",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/client_packages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "merchant_id",
              "value": "=eq.{{ $('Build Context').first().json.merchant_id }}"
            },
            {
              "name": "client_id",
              "value": "=eq.{{ $('Build Context').first().json.client_id }}"
            },
            {
              "name": "remaining_uses",
              "value": "gt.0"
            },
            {
              "name": "select",
              "value": "id,remaining_uses,expires_at,package:packages(name,service_id,is_active)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "options": {}
      },
      "id": "check-packages",
      "name": "Check Client Packages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "T078: Check if client has active packages or subscriptions. If so, skip payment request.",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/client_subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "merchant_id",
              "value": "=eq.{{ $('Build Context').first().json.merchant_id }}"
            },
            {
              "name": "client_id",
              "value": "=eq.{{ $('Build Context').first().json.client_id }}"
            },
            {
              "name": "status",
              "value": "eq.active"
            },
            {
              "name": "select",
              "value": "id,name,service_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "options": {}
      },
      "id": "check-subscriptions",
      "name": "Check Client Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "T078: Check if client has active subscriptions for the requested service.",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Sanitize Prompt Inputs v3 — Option D polish 6\n */\n\nconst MAX_NAME = 80;\nconst MAX_MESSAGE = 500;\nconst MAX_HISTORY = 2000;\nconst MAX_FIELD = 200;\nconst MAX_HISTORY_MESSAGES = 10;\n\nfunction sanitize(s, maxLen) {\n  if (!s) return '';\n  s = String(s)\n    .replace(/\\b(system|assistant|admin)\\s*:/gi, '[FILTERED]')\n    .replace(/\\b(tu\\s+es|you\\s+are)\\s+(now|maintenant|désormais)/gi, '[FILTERED]')\n    .replace(/\\bACT\\s+AS\\b/gi, '[FILTERED]')\n    .replace(/\\bRÈGLES?\\s*:/gi, '[FILTERED]')\n    .replace(/\\bINSTRUCTION[S]?\\s*:/gi, '[FILTERED]');\n  if (s.length > maxLen) s = s.substring(0, maxLen) + '…';\n  return s;\n}\n\nconst ctx = $('Build Context').first().json;\n\nconst packagesData = $('Check Client Packages').first()?.json || [];\nconst subscriptionsData = $('Check Client Subscriptions').first()?.json || [];\nconst nowIso = new Date().toISOString();\n\nconst packages = Array.isArray(packagesData) ? packagesData : [];\nconst subscriptions = Array.isArray(subscriptionsData) ? subscriptionsData : [];\n\nconst activePackages = packages.filter(cp => {\n  if (!cp.package || !cp.package.is_active) return false;\n  if (cp.expires_at && cp.expires_at < nowIso) return false;\n  return true;\n});\n\nconst activeSubscriptions = subscriptions;\n\nlet coverageSummary = 'aucun';\nif (activePackages.length > 0 || activeSubscriptions.length > 0) {\n  const parts = [];\n  activePackages.forEach(cp => {\n    parts.push(`Forfait \"${cp.package.name}\" (${cp.remaining_uses} séances restantes)`);\n  });\n  activeSubscriptions.forEach(sub => {\n    parts.push(`Abonnement \"${sub.name}\" (actif)`);\n  });\n  coverageSummary = parts.join(', ');\n}\n\n// Services list depuis Load Services\nlet servicesList = 'Aucun service actif';\ntry {\n  const servicesItems = $('Load Services').all() || [];\n  const services = servicesItems\n    .map(it => it && it.json ? it.json : null)\n    .filter(s => s && s.name && s.duration_minutes);\n  if (services.length > 0) {\n    servicesList = services\n      .map(s => {\n        const price = s.price_cents ? `${(s.price_cents / 100).toFixed(0)}€` : '';\n        return `${s.name} (${s.duration_minutes} min${price ? ', ' + price : ''})`;\n      })\n      .join(', ');\n  }\n} catch (e) {\n  servicesList = 'Aucun service actif';\n}\n\n// Historique conversation depuis Load Conversation History\nlet conversationHistoryText = 'Première interaction';\nlet hasHistory = false;\ntry {\n  const lchItems = $('Load Conversation History').all() || [];\n  const messages = lchItems\n    .map(it => it && it.json ? it.json : null)\n    .filter(m => m && m.content && m.sender);\n  if (messages.length > 0) {\n    const msgs = messages\n      .sort((a, b) => (a.created_at || '').localeCompare(b.created_at || ''))\n      .slice(-MAX_HISTORY_MESSAGES);\n    if (msgs.length > 0) {\n      const rawHistory = msgs\n        .map(m => {\n          const role = m.sender === 'ai' ? 'IA' : 'Client';\n          return `[${role}] ${m.content}`;\n        })\n        .join('\\n');\n      conversationHistoryText = JSON.stringify(rawHistory).slice(1, -1);\n      hasHistory = true;\n    }\n  }\n} catch (e) {\n  conversationHistoryText = 'Première interaction';\n}\n\nconst slotsText = 'Les créneaux sont vérifiés à la demande via la fonction get_available_slots.';\n\n// Pré-calcul des dates de référence (Europe/Paris)\nconst tz = 'Europe/Paris';\nconst nowDt = DateTime.now().setZone(tz);\nconst nowFr = nowDt.setLocale('fr');\nconst todayWeekday = nowDt.weekday;\n\n// Greeting selon l'heure locale Paris\nconst currentHour = nowDt.hour;\nconst greetingWord = (currentHour >= 18 || currentHour < 5) ? 'Bonsoir' : 'Bonjour';\n\n// Détection intention booking : si la phrase contient un mot-clé booking ET un indice\n// temporel, on force Gemini à appeler get_available_slots (mode ANY) pour éviter\n// les hallucinations (Gemini Flash Lite ignore parfois la règle du prompt).\nconst msgLower = String(ctx.message_text || '').toLowerCase();\nconst bookingKeywords = /\\b(rdv|rendez[-\\s]?vous|créneau|creneau|dispo|disponibilit|réserver|reserver|réservation|coupe|barbe|coiffure|soin|service)\\b/i;\nconst timeKeywords = /\\b(demain|après[-\\s]?demain|aujourd'hui|ce\\s+soir|ce\\s+matin|lundi|mardi|mercredi|jeudi|vendredi|samedi|dimanche|semaine|prochain|suivant|tot|tôt|rapidement|asap|avant|après)\\b/i;\nconst hasBookingIntent = bookingKeywords.test(msgLower);\nconst hasTimeClue = timeKeywords.test(msgLower);\nconst shouldForceToolCall = hasBookingIntent && hasTimeClue;\nconst toolCallMode = shouldForceToolCall ? 'ANY' : 'AUTO';\n\nfunction nextWeekday(targetIso) {\n  const daysAhead = ((targetIso - todayWeekday + 7) % 7) || 7;\n  return nowDt.plus({ days: daysAhead }).toFormat('yyyy-MM-dd');\n}\n\nconst nextMondayIso = nextWeekday(1);\nconst weekAfterNextMondayDt = DateTime.fromISO(nextMondayIso, { zone: tz }).plus({ days: 7 });\n\nconst weekdayNames = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];\nconst openingHours = ctx.opening_hours || {};\nlet nextOpenDay = nowDt.plus({ days: 1 }).toFormat('yyyy-MM-dd');\nfor (let i = 1; i <= 14; i++) {\n  const candidate = nowDt.plus({ days: i });\n  const dayName = weekdayNames[candidate.weekday - 1];\n  const dayConfig = openingHours[dayName];\n  if (dayConfig && dayConfig.open) {\n    nextOpenDay = candidate.toFormat('yyyy-MM-dd');\n    break;\n  }\n}\n\nconst ref_dates = {\n  today: nowDt.toFormat('yyyy-MM-dd'),\n  today_label: nowFr.toFormat('cccc yyyy-MM-dd'),\n  tomorrow: nowDt.plus({ days: 1 }).toFormat('yyyy-MM-dd'),\n  day_after_tomorrow: nowDt.plus({ days: 2 }).toFormat('yyyy-MM-dd'),\n  next_open_day: nextOpenDay,\n  next_monday: nextMondayIso,\n  next_tuesday: nextWeekday(2),\n  next_wednesday: nextWeekday(3),\n  next_thursday: nextWeekday(4),\n  next_friday: nextWeekday(5),\n  next_saturday: nextWeekday(6),\n  next_sunday: nextWeekday(7),\n  week_after_next_monday: weekAfterNextMondayDt.toFormat('yyyy-MM-dd'),\n  week_after_next_tuesday: weekAfterNextMondayDt.plus({ days: 1 }).toFormat('yyyy-MM-dd'),\n  week_after_next_wednesday: weekAfterNextMondayDt.plus({ days: 2 }).toFormat('yyyy-MM-dd'),\n  week_after_next_thursday: weekAfterNextMondayDt.plus({ days: 3 }).toFormat('yyyy-MM-dd'),\n  week_after_next_friday: weekAfterNextMondayDt.plus({ days: 4 }).toFormat('yyyy-MM-dd'),\n  week_after_next_saturday: weekAfterNextMondayDt.plus({ days: 5 }).toFormat('yyyy-MM-dd')\n};\n\nlet conversationIdFromRpc = null;\ntry {\n  const ecOut = $('Ensure Conversation').first().json;\n  if (ecOut && ecOut.id) {\n    conversationIdFromRpc = ecOut.id;\n  } else if (Array.isArray(ecOut) && ecOut.length > 0 && ecOut[0].id) {\n    conversationIdFromRpc = ecOut[0].id;\n  }\n} catch (e) {}\n\nreturn [{\n  json: {\n    ...ctx,\n    safe_client_name: sanitize(ctx.client_name, MAX_NAME) || 'Inconnu',\n    safe_message_text: sanitize(ctx.message_text, MAX_MESSAGE),\n    safe_preferred_service: sanitize(ctx.preferred_service, MAX_FIELD) || 'aucun',\n    safe_preferred_practitioner: sanitize(ctx.preferred_practitioner, MAX_FIELD) || 'aucun',\n    safe_active_package: sanitize(coverageSummary, MAX_FIELD) || 'aucun',\n    safe_conversation_history: sanitize(conversationHistoryText, MAX_HISTORY),\n    safe_available_slots_text: slotsText,\n    safe_services_list: servicesList,\n    safe_greeting_word: greetingWord,\n    safe_has_history: hasHistory,\n    safe_tool_call_mode: toolCallMode,\n    safe_loyalty_points: Number(ctx.loyalty_points) || 0,\n    safe_cancellation_delay: Number(ctx.cancellation_delay_minutes) || 120,\n    has_active_coverage: activePackages.length > 0 || activeSubscriptions.length > 0,\n    ref_dates: ref_dates,\n    conversation_id: conversationIdFromRpc\n  }\n}];\n"
      },
      "id": "sanitize-inputs",
      "name": "Sanitize Prompt Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        64
      ],
      "notes": "ASI01 defense + T078: sanitize all user-controlled data, merge package/subscription info."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "budget-check",
              "leftValue": "={{ $json.ai_budget_exceeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "budget-gate",
      "name": "Budget Exceeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1856,
        64
      ],
      "notes": "Si budget dépassé → message statique direct, sinon → Gemini"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"[CLIENT MESSAGE START]\\n{{ $('Compute Budget Status').first().json.safe_message_text }}\\n[CLIENT MESSAGE END]\"}]}],\"systemInstruction\":{\"parts\":[{\"text\":\"Tu es {{ $('Compute Budget Status').first().json.ai_name || 'AurA' }}, l'assistant IA du salon {{ $('Compute Budget Status').first().json.salon_name }}.\\n\\n=== RÈGLE #1 ABSOLUE : ANTI-HALLUCINATION ===\\nINTERDIT de mentionner une DATE, un HORAIRE, une DISPONIBILITÉ dans ta réponse texte SANS avoir d'abord appelé get_available_slots.\\n\\n=== RÈGLE #2 : SALUTATION ===\\nHistorique existe : {{ $('Compute Budget Status').first().json.safe_has_history }}\\n- Si true : NE COMMENCE PAS par Bonjour/Bonsoir. Enchaine direct.\\n- Si false : commence par '{{ $('Compute Budget Status').first().json.safe_greeting_word }}'.\\n\\n=== RÈGLE #3 : NE JAMAIS REDEMANDER ===\\nRELIS l'HISTORIQUE. Si l'info est déjà dedans, utilise-la directement.\\n\\n=== RÈGLE #4 : ANNÉE ===\\nUtilise TOUJOURS l'année d'AUJOURD'HUI. Ne demande JAMAIS l'année.\\n\\n=== STYLE ===\\n- Vouvoiement, chaleureux et professionnel. Max 2-3 phrases.\\n- JAMAIS Coucou/Salut/Hello.\\n\\n=== CONTEXTE TEMPOREL ===\\nAUJOURD'HUI : {{ $('Compute Budget Status').first().json.ref_dates.today_label }}\\n\\nDATES (copie dans tool_args.date) :\\n- 'aujourd'hui' → {{ $('Compute Budget Status').first().json.ref_dates.today }}\\n- 'demain' → {{ $('Compute Budget Status').first().json.ref_dates.tomorrow }}\\n- 'après-demain' → {{ $('Compute Budget Status').first().json.ref_dates.day_after_tomorrow }}\\n- 'lundi' → {{ $('Compute Budget Status').first().json.ref_dates.next_monday }}\\n- 'mardi' → {{ $('Compute Budget Status').first().json.ref_dates.next_tuesday }}\\n- 'mercredi' → {{ $('Compute Budget Status').first().json.ref_dates.next_wednesday }}\\n- 'jeudi' → {{ $('Compute Budget Status').first().json.ref_dates.next_thursday }}\\n- 'vendredi' → {{ $('Compute Budget Status').first().json.ref_dates.next_friday }}\\n- 'samedi' → {{ $('Compute Budget Status').first().json.ref_dates.next_saturday }}\\n- 'dimanche' → {{ $('Compute Budget Status').first().json.ref_dates.next_sunday }}\\n- 'la semaine prochaine' → {{ $('Compute Budget Status').first().json.ref_dates.next_monday }}\\n- 'la semaine suivante' → {{ $('Compute Budget Status').first().json.ref_dates.week_after_next_monday }}\\n\\n=== SERVICES DISPONIBLES ===\\n{{ $('Compute Budget Status').first().json.safe_services_list }}\\nUtilise la durée du service dans tool_args.duration_minutes. Ne demande JAMAIS au client combien de temps il veut.\\n\\n=== OUTIL get_available_slots ===\\nLa fonction accepte 3 paramètres : date (YYYY-MM-DD), duration_minutes, scan_days (nb de jours à scanner à partir de date, default 1, max 14).\\n\\nRÈGLE scan_days :\\n- Si l'utilisateur demande une date précise (ex: 'mardi prochain', 'le 14'), utilise scan_days=1.\\n- Si l'utilisateur dit 'le plus tôt possible', 'dès que possible', 'asap', 'rapidement', 'au plus vite', 'quand vous voulez' → utilise scan_days=14 avec date={{ $('Compute Budget Status').first().json.ref_dates.tomorrow }}. Cela scannera 14 jours à partir de demain pour trouver la 1ère vraie dispo.\\n- Si 'la semaine prochaine' sans jour précis → scan_days=5 avec date={{ $('Compute Budget Status').first().json.ref_dates.next_monday }} (scan lundi à vendredi).\\n- Si 'la semaine suivante' sans jour précis → scan_days=5 avec date={{ $('Compute Budget Status').first().json.ref_dates.week_after_next_monday }}.\\n\\nAPPELLE la fonction si l'utilisateur demande un RDV ET donne un indice temporel.\\n\\nN'APPELLE PAS si :\\n- Salutation seule\\n- Question générique (horaires, services, tarifs)\\n- Annulation\\n- Remerciement seul\\n- Intention floue sans indice temporel\\n\\n=== DONNÉES CLIENT ===\\n- Nom: {{ $('Compute Budget Status').first().json.safe_client_name }}\\n- Service habituel: {{ $('Compute Budget Status').first().json.safe_preferred_service }}\\n\\n=== HISTORIQUE ===\\n{{ $('Compute Budget Status').first().json.safe_conversation_history }}\\n\\nFORMAT JSON strict : response_text, action (none|propose_slots|confirm_booking|cancel_booking), booking_data (practitioner_id, service_id, starts_at, ends_at).\"}]},\"tools\":[{\"functionDeclarations\":[{\"name\":\"get_available_slots\",\"description\":\"Retourne les créneaux libres du salon, soit pour UNE date précise (scan_days=1), soit pour plusieurs jours consécutifs (scan_days jusqu'à 14). DOIT être appelée avant de mentionner toute disponibilité.\",\"parameters\":{\"type\":\"object\",\"properties\":{\"date\":{\"type\":\"string\",\"description\":\"Date de départ au format YYYY-MM-DD, copiée depuis les DATES du system prompt.\"},\"duration_minutes\":{\"type\":\"integer\",\"description\":\"Durée du créneau en minutes. Utilise la durée du service choisi.\"},\"scan_days\":{\"type\":\"integer\",\"description\":\"Nombre de jours à scanner à partir de date. Default 1 (une seule date). Utilise 7 pour 'le plus tôt possible' (scan sur 7 jours glissants). Utilise 5 pour 'la semaine prochaine' sans jour précis.\"} },\"required\":[\"date\"]} }]}],\"toolConfig\":{\"functionCallingConfig\":{\"mode\":\"{{ $('Compute Budget Status').first().json.safe_tool_call_mode }}\",\"allowedFunctionNames\":[\"get_available_slots\"]} },\"generationConfig\":{\"temperature\":0.2,\"maxOutputTokens\":500} }",
        "options": {}
      },
      "id": "gemini-ai",
      "name": "Gemini AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        208
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Yn2UQRijLEI1k4Nl",
          "name": "Query Auth account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Gemini 2.5 Flash Lite — LLM principal. En cas d'erreur → fallback Mistral."
    },
    {
      "parameters": {
        "jsCode": "/**\n * Parse Gemini Response / Parse Tool Call\n *\n * Option D : Gemini function calling pattern.\n *\n * Détecte si Gemini veut appeler une fonction (get_available_slots) ou a directement\n * répondu en texte. Route ensuite via le node Has Tool Call?.\n *\n * Guardrail : Gemini 2.5 Flash Lite a un biais tool-use et appelle parfois la fonction\n * même pour des salutations simples. On override via regex pour économiser tokens\n * (2e appel + RPC) et garantir une UX cohérente.\n */\nconst geminiOutput = $input.first().json;\nconst candidate = geminiOutput.candidates?.[0];\nconst parts = candidate?.content?.parts || [];\nconst usageMetadata = geminiOutput.usageMetadata || {};\n\n// Cherche un functionCall dans les parts\nconst fnCallPart = parts.find(p => p.functionCall);\nconst fnCall = fnCallPart?.functionCall;\nconst textPart = parts.find(p => p.text !== undefined)?.text;\n\nconst ctx = $('Compute Budget Status').first().json;\n\n// --- Guardrail greetings ---\n// Si l'utilisateur a juste dit Bonjour/Merci/etc., on écrase l'éventuel tool call\n// de Gemini et on retourne une réponse texte directe.\nconst GREETING_PATTERN = /^(bonjour|coucou|salut|hello|bonsoir|hi|hey|yo|hola|allo|allô|cc)[!.\\s,]*$/i;\nconst THANKS_PATTERN = /^(merci|thanks|thx|ok|d'accord|daccord|parfait|super)[!.\\s,]*$/i;\nconst msgText = String(ctx.safe_message_text || '').trim();\nconst isGreeting = GREETING_PATTERN.test(msgText);\nconst isThanks = THANKS_PATTERN.test(msgText);\n\nif (fnCall && (isGreeting || isThanks)) {\n  // Override : Gemini voulait appeler la fonction pour une salutation/remerciement — on ignore\n  const aiName = ctx.ai_name || 'AurA';\n  const salonName = ctx.salon_name || 'notre salon';\n  const overrideText = isGreeting\n    ? `Bonjour ! Je suis ${aiName}, l'assistant du salon ${salonName}. Souhaitez-vous prendre rendez-vous ? Dites-moi quel jour vous arrangerait.`\n    : `Avec plaisir ! À bientôt au salon ${salonName}.`;\n\n  return [{\n    json: {\n      ...ctx,\n      has_tool_call: false,\n      response_text: overrideText,\n      action: 'none',\n      booking_data: {},\n      llm_provider: 'gemini',\n      llm_model: 'gemini-2.5-flash-lite',\n      llm_prompt_tokens: usageMetadata.promptTokenCount || 0,\n      llm_completion_tokens: usageMetadata.candidatesTokenCount || 0,\n      llm_total_tokens: usageMetadata.totalTokenCount || 0,\n      llm_is_fallback: false,\n      llm_error: 'greeting_override'\n    }\n  }];\n}\n\nif (fnCall) {\n  // Gemini veut appeler une fonction\n  return [{\n    json: {\n      ...ctx,\n      has_tool_call: true,\n      tool_name: fnCall.name,\n      tool_args: fnCall.args || {},\n      tool_call_id: fnCall.id || null,\n      conversation_parts: parts,\n      gemini_call1_prompt_tokens: usageMetadata.promptTokenCount || 0,\n      gemini_call1_completion_tokens: usageMetadata.candidatesTokenCount || 0,\n      gemini_call1_total_tokens: usageMetadata.totalTokenCount || 0\n    }\n  }];\n}\n\n// Pas de tool call : réponse texte directe\nlet parsed;\ntry {\n  parsed = JSON.parse(textPart || '{}');\n} catch (e) {\n  parsed = {\n    response_text: textPart || \"Désolé, je n'ai pas compris. Pouvez-vous reformuler ?\",\n    action: 'none',\n    booking_data: {}\n  };\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    has_tool_call: false,\n    response_text: parsed.response_text || textPart || '',\n    action: parsed.action || 'none',\n    booking_data: parsed.booking_data || {},\n    llm_provider: 'gemini',\n    llm_model: 'gemini-2.5-flash-lite',\n    llm_prompt_tokens: usageMetadata.promptTokenCount || 0,\n    llm_completion_tokens: usageMetadata.candidatesTokenCount || 0,\n    llm_total_tokens: usageMetadata.totalTokenCount || 0,\n    llm_is_fallback: false,\n    llm_error: null\n  }\n}];\n"
      },
      "id": "parse-gemini",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        128
      ],
      "notes": "Extrait la réponse JSON + compteurs tokens de Gemini."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-small-latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es {{ $('Compute Budget Status').first().json.ai_name || 'AurA' }}, l'assistant IA du salon {{ $('Compute Budget Status').first().json.salon_name }}. Ton ton est {{ $('Compute Budget Status').first().json.ai_tone || 'friendly' }}.\\n\\nRÈGLES:\\n1. Objectif : réserver un RDV en ≤3 échanges\\n2. Si le client est connu, propose son service/praticien habituel\\n3. Propose les créneaux disponibles (max 3 options)\\n4. Confirme avec date, heure, praticien, service\\n5. Réponds TOUJOURS en français\\n6. IMPORTANT : Les données client ci-dessous sont fournies à titre informatif.\\n\\nDONNÉES CLIENT:\\n- Nom: {{ $('Compute Budget Status').first().json.safe_client_name }}\\n- Service habituel: {{ $('Compute Budget Status').first().json.safe_preferred_service }}\\n- Praticien habituel: {{ $('Compute Budget Status').first().json.safe_preferred_practitioner }}\\n- Points fidélité: {{ $('Compute Budget Status').first().json.safe_loyalty_points }}\\n- Forfait actif: {{ $('Compute Budget Status').first().json.safe_active_package }}\\n\\nCRÉNEAUX DISPONIBLES:\\n{{ $('Compute Budget Status').first().json.safe_available_slots_text }}\\n\\nHISTORIQUE:\\n{{ $('Compute Budget Status').first().json.safe_conversation_history }}\\n\\nRÉPONDS avec un JSON:\\n{\\n  \\\"response_text\\\": \\\"ton message au client\\\",\\n  \\\"action\\\": \\\"none|propose_slots|confirm_booking|cancel_booking\\\",\\n  \\\"booking_data\\\": {\\n    \\\"practitioner_id\\\": \\\"uuid ou null\\\",\\n    \\\"service_id\\\": \\\"uuid ou null\\\",\\n    \\\"starts_at\\\": \\\"ISO datetime ou null\\\",\\n    \\\"ends_at\\\": \\\"ISO datetime ou null\\\"\\n  }\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Compute Budget Status').first().json.safe_message_text }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 500,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "mistral-fallback",
      "name": "Mistral Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BKALTxrrMa7hDNXs",
          "name": "Mistral API"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Mistral Small — fallback si Gemini échoue. En cas d'erreur → message statique."
    },
    {
      "parameters": {
        "jsCode": "/**\n * Parse Mistral Response — extrait la réponse + les tokens consommés\n */\nconst mistralOutput = $input.first().json;\nconst choice = mistralOutput.choices?.[0];\nconst usage = mistralOutput.usage || {};\n\nlet parsed;\ntry {\n  const text = choice?.message?.content || '{}';\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {\n    response_text: choice?.message?.content || 'Désolé, je n\\'ai pas compris. Pouvez-vous reformuler ?',\n    action: 'none',\n    booking_data: {}\n  };\n}\n\nreturn [{\n  json: {\n    ...$('Compute Budget Status').first().json,\n    response_text: parsed.response_text,\n    action: parsed.action || 'none',\n    booking_data: parsed.booking_data || {},\n    // Token tracking\n    llm_provider: 'mistral',\n    llm_model: 'mistral-small-latest',\n    llm_prompt_tokens: usage.prompt_tokens || 0,\n    llm_completion_tokens: usage.completion_tokens || 0,\n    llm_total_tokens: usage.total_tokens || 0,\n    llm_is_fallback: true,\n    llm_error: null\n  }\n}];"
      },
      "id": "parse-mistral",
      "name": "Parse Mistral Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        64
      ],
      "notes": "Extrait la réponse JSON + compteurs tokens de Mistral."
    },
    {
      "parameters": {
        "jsCode": "/**\n * Static Fallback — message prédéfini quand les 2 LLMs sont down ou budget épuisé\n */\nconst context = $('Compute Budget Status').first().json;\nconst budgetExceeded = context.ai_budget_exceeded;\n\nlet message;\nif (budgetExceeded) {\n  message = 'Bonjour ! Notre assistant est temporairement indisponible. ' +\n    'Veuillez nous contacter directement par téléphone pour prendre rendez-vous. ' +\n    'Nous nous excusons pour la gêne occasionnée.';\n} else {\n  message = 'Bonjour ! Notre assistant rencontre un problème technique. ' +\n    'Un conseiller vous recontactera dans les plus brefs délais. ' +\n    'Nous nous excusons pour la gêne occasionnée.';\n}\n\nreturn [{\n  json: {\n    ...context,\n    response_text: message,\n    action: 'none',\n    booking_data: {},\n    // Token tracking\n    llm_provider: 'static',\n    llm_model: 'static-fallback',\n    llm_prompt_tokens: 0,\n    llm_completion_tokens: 0,\n    llm_total_tokens: 0,\n    llm_is_fallback: true,\n    llm_error: budgetExceeded ? 'budget_exceeded' : 'both_llms_down'\n  }\n}];"
      },
      "id": "static-fallback",
      "name": "Static Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        352
      ],
      "notes": "Dernier recours : message prédéfini si Gemini ET Mistral échouent, ou si budget dépassé."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-check",
              "leftValue": "={{ $json.token_log_alert_level }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "alert-gate",
      "name": "Alert Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3536,
        224
      ],
      "notes": "Si alerte (80%, 95%, 100% ou anomalie) → envoyer notification, sinon → continuer."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/system_notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"merchant_id\": \"{{ $('Build Context').first().json.merchant_id }}\",\n  \"type\": \"{{ $json.token_log_alert_level === 'anomaly' ? 'ai_anomaly' : $json.token_log_alert_level === 'critical' ? 'ai_budget_critical' : $json.token_log_alert_level === 'warning' ? 'ai_budget_warning' : 'ai_budget_info' }}\",\n  \"title\": \"{{ $json.token_log_alert_level === 'anomaly' ? 'Anomalie consommation IA' : $json.token_log_alert_level === 'critical' ? 'Budget IA epuise' : $json.token_log_alert_level === 'warning' ? 'Budget IA a 95%' : 'Budget IA a 80%' }}\",\n  \"message\": \"{{ $json.token_log_alert_level === 'anomaly' ? 'Consommation IA anormalement elevee aujourd hui (' + $json.token_log_new_total + ' tokens, moyenne ' + $json.token_log_daily_avg + '/jour). Verifiez vos conversations.' : 'Consommation IA : ' + $json.token_log_new_percent + '% du budget mensuel (' + $json.token_log_new_total + '/' + $json.ai_budget + ' tokens).' }}\",\n  \"is_read\": false\n}",
        "options": {}
      },
      "id": "send-alert",
      "name": "Send Budget Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        128
      ],
      "notes": "Insère une notification d'alerte budget IA dans le dashboard commerçant."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-confirm",
              "leftValue": "={{ $json.action }}",
              "rightValue": "confirm_booking",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-action",
      "name": "Booking Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3984,
        240
      ],
      "notes": "Route based on AI action: confirm_booking → create booking, else → just reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/bookings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"merchant_id\": \"{{ $('Build Context').first().json.merchant_id }}\",\n  \"client_id\": \"{{ $('Build Context').first().json.client_id }}\",\n  \"practitioner_id\": \"{{ $json.booking_data.practitioner_id }}\",\n  \"service_id\": \"{{ $json.booking_data.service_id }}\",\n  \"starts_at\": \"{{ $json.booking_data.starts_at }}\",\n  \"ends_at\": \"{{ $json.booking_data.ends_at }}\",\n  \"status\": \"confirmed\",\n  \"source_channel\": \"{{ $('Build Context').first().json.channel }}\"\n}",
        "options": {}
      },
      "id": "create-booking",
      "name": "Create Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4256,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "Direct PostgREST insert sur table bookings. Bypass de l'API Next.js qui exigeait une session user. Auth via credential Supabase mRd60LO2hwQq9oBH (service_role)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://resaapp.fr/api/v1/channels/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $('Build Context').first().json.channel }}"
            },
            {
              "name": "recipient_id",
              "value": "={{ $('Build Context').first().json.sender_id }}"
            },
            {
              "name": "message",
              "value": "={{ $('Compute Token Cost').first().json.response_text }}"
            },
            {
              "name": "merchant_id",
              "value": "={{ $('Build Context').first().json.merchant_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4496,
        256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "EaRZ4TQKBMrRdlVX",
          "name": "Internal API Secret"
        }
      },
      "notes": "POST internal /api/v1/channels/send. Auth via X-Internal-Secret credential. Body inclut merchant_id (requis par la route)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "merchant_id",
              "value": "={{ $('Build Context').first().json.merchant_id }}"
            },
            {
              "name": "conversation_id",
              "value": "={{ $('Ensure Conversation').first().json.id }}"
            },
            {
              "name": "sender",
              "value": "ai"
            },
            {
              "name": "content",
              "value": "={{ $('Compute Token Cost').first().json.response_text }}"
            }
          ]
        },
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "save-ai-message",
      "name": "Save AI Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4736,
        256
      ],
      "notes": "Persist AI response in messages table for dashboard visibility",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"response_text\": \"{{ $json.response_text }}\",\n  \"action\": \"{{ $json.action }}\",\n  \"booking_data\": {{ JSON.stringify($json.booking_data || null) }}\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4944,
        256
      ]
    },
    {
      "parameters": {
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/merchants",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,name,slug,ai_name,ai_tone,ai_languages,cancellation_delay_minutes,opening_hours,ai_monthly_token_budget,ai_alert_email"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "options": {}
      },
      "id": "29a9bd67-9be4-4723-9ed3-8b563252b01f",
      "name": "Find Merchant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "Mono-tenant MVP : récupère le 1er merchant. À adapter en multi-tenant via wa_phone_number_id mapping."
    },
    {
      "parameters": {
        "jsCode": "/**\n * Build Context — flatten webhook + merchant + client into a single object\n * for downstream nodes (Sanitize, Check Budget, AI prompt, etc.)\n */\nconst wh = $('Webhook Trigger').first().json;\nconst body = wh.body || wh;\n\nconst merchantArr = $('Find Merchant').first().json;\nconst merchant = (Array.isArray(merchantArr) && merchantArr.length > 0) ? merchantArr[0] : (merchantArr || {});\n\nconst clientResp = $('Identify Client').first().json;\nconst client = Array.isArray(clientResp) && clientResp.length > 0\n  ? clientResp[0]\n  : (clientResp && clientResp.id ? clientResp : {});\n\nreturn [{\n  json: {\n    // From Webhook payload\n    channel: body.channel || 'whatsapp',\n    sender_id: body.sender_phone || body.sender_id,\n    sender_name: body.sender_name,\n    message_text: body.message_text || '',\n    wa_message_id: body.wa_message_id,\n    wa_phone_number_id: body.wa_phone_number_id,\n    timestamp: body.timestamp,\n\n    // From Find Merchant\n    merchant_id: merchant.id,\n    salon_name: merchant.name || 'Salon',\n    ai_name: merchant.ai_name || 'AurA',\n    ai_tone: merchant.ai_tone || 'friendly',\n    ai_languages: merchant.ai_languages || ['fr'],\n    preferred_language: (merchant.ai_languages && merchant.ai_languages[0]) || 'fr',\n    cancellation_delay_minutes: merchant.cancellation_delay_minutes || 120,\n    opening_hours: merchant.opening_hours || {},\n    ai_monthly_token_budget: merchant.ai_monthly_token_budget || 100000,\n    ai_alert_email: merchant.ai_alert_email || null,\n\n    // From Identify Client (upsert result)\n    client_id: client.id,\n    client_name: client.name || body.sender_name || 'Inconnu',\n    loyalty_points: client.loyalty_points || 0,\n    preferred_service: client.preferred_service_id || 'aucun',\n    preferred_practitioner: client.preferred_practitioner_id || 'aucun',\n\n    // Placeholders (filled by downstream nodes)\n    conversation_id: null,\n    conversation_history: 'Premiere interaction',\n    available_slots_text: 'Aucun creneau charge'\n  }\n}];"
      },
      "id": "35d63cb3-f3b7-40f7-89e8-6573a133235c",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        64
      ],
      "notes": "Flatten merchant + client + webhook payload into single object. All downstream nodes consume $json.* from here."
    },
    {
      "parameters": {
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/merchants",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Build Context').first().json.merchant_id }}"
            },
            {
              "name": "select",
              "value": "ai_monthly_token_budget,ai_alert_email"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "options": {}
      },
      "id": "b215d377-114a-46a5-bafe-fa48c879ecba",
      "name": "Get Merchant Budget",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      }
    },
    {
      "parameters": {
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/ai_token_usage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "merchant_id",
              "value": "=eq.{{ $('Build Context').first().json.merchant_id }}"
            },
            {
              "name": "created_at",
              "value": "=gte.{{ $now.startOf('month').toISO() }}"
            },
            {
              "name": "select",
              "value": "total_tokens"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "options": {}
      },
      "id": "9dee4709-5458-42b4-bd07-c76d720e7693",
      "name": "Get Monthly Token Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Compute Budget Status — agrège merchant budget + usage du mois\n */\nconst sanitized = $('Sanitize Prompt Inputs').first().json;\n\nconst merchantData = $('Get Merchant Budget').first().json;\nconst merchant = (Array.isArray(merchantData) && merchantData.length > 0) ? merchantData[0] : {};\n\nconst usageData = $('Get Monthly Token Usage').first().json;\nconst usageRows = Array.isArray(usageData) ? usageData : [];\n\nconst budget = merchant.ai_monthly_token_budget || 100000;\nconst alertEmail = merchant.ai_alert_email || null;\nconst totalUsed = usageRows.reduce((sum, r) => sum + (r.total_tokens || 0), 0);\nconst usagePercent = budget > 0 ? Math.round((totalUsed / budget) * 100) : 0;\nconst budgetExceeded = totalUsed >= budget;\n\nreturn [{\n  json: {\n    ...sanitized,\n    ai_budget: budget,\n    ai_alert_email: alertEmail,\n    ai_used_tokens: totalUsed,\n    ai_usage_percent: usagePercent,\n    ai_budget_exceeded: budgetExceeded\n  }\n}];"
      },
      "id": "f8e8cc87-4b09-4c63-a7eb-abfb4fb9c696",
      "name": "Compute Budget Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Compute Token Cost — calcule cost_eur depuis les tokens LLM\n */\nconst data = $input.first().json;\n\nconst PRICING = {\n  gemini: { prompt: 0.075 / 1_000_000, completion: 0.30 / 1_000_000 },\n  mistral: { prompt: 0.10 / 1_000_000, completion: 0.30 / 1_000_000 },\n  static: { prompt: 0, completion: 0 }\n};\n\nconst pricing = PRICING[data.llm_provider] || PRICING.static;\nconst costEur = (data.llm_prompt_tokens || 0) * pricing.prompt\n              + (data.llm_completion_tokens || 0) * pricing.completion;\n\nreturn [{\n  json: {\n    ...data,\n    token_cost_eur: costEur\n  }\n}];"
      },
      "id": "634dd664-92ec-4915-a7ad-eb87c8bd6a4e",
      "name": "Compute Token Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/ai_token_usage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"merchant_id\": \"{{ $('Build Context').first().json.merchant_id }}\",\n  \"conversation_id\": {{ $('Build Context').first().json.conversation_id ? '\"' + $('Build Context').first().json.conversation_id + '\"' : 'null' }},\n  \"model\": \"{{ $json.llm_model }}\",\n  \"provider\": \"{{ $json.llm_provider }}\",\n  \"prompt_tokens\": {{ $json.llm_prompt_tokens || 0 }},\n  \"completion_tokens\": {{ $json.llm_completion_tokens || 0 }},\n  \"total_tokens\": {{ $json.llm_total_tokens || 0 }},\n  \"cost_eur\": {{ $json.token_cost_eur || 0 }},\n  \"is_fallback\": {{ $json.llm_is_fallback || false }},\n  \"error_message\": {{ $json.llm_error ? '\"' + $json.llm_error + '\"' : 'null' }}\n}",
        "options": {}
      },
      "id": "e68b55a1-6b7b-48a6-934e-0e074b3960d1",
      "name": "Insert Token Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3184,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Compute Alert Level — détermine le niveau d'alerte basé sur le budget\n * (anomaly detection 7j déférée — à ajouter via 2 HTTP nodes Get Daily Avg / Get Today)\n */\nconst data = $input.first().json;\n\nconst usedBefore = data.ai_used_tokens || 0;\nconst justAdded = data.llm_total_tokens || 0;\nconst newTotal = usedBefore + justAdded;\nconst budget = data.ai_budget || 100000;\nconst newPercent = budget > 0 ? Math.round((newTotal / budget) * 100) : 0;\n\nlet alertLevel = 'none';\nif (newPercent >= 100) alertLevel = 'critical';\nelse if (newPercent >= 95) alertLevel = 'warning';\nelse if (newPercent >= 80) alertLevel = 'info';\n\nreturn [{\n  json: {\n    ...data,\n    token_log_cost_eur: data.token_cost_eur || 0,\n    token_log_new_total: newTotal,\n    token_log_new_percent: newPercent,\n    token_log_alert_level: alertLevel,\n    token_log_is_anomaly: false,\n    token_log_daily_avg: 0\n  }\n}];"
      },
      "id": "4f6bb70f-1aa0-41b8-889b-b17cf1c012d1",
      "name": "Compute Alert Level",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        224
      ]
    },
    {
      "id": "bf6be6ab-08d8-4af4-8d84-cb244852cd31",
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        48
      ],
      "parameters": {
        "method": "POST",
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/rpc/get_available_slots",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_merchant_id",
              "value": "={{ $('Build Context').first().json.merchant_id }}"
            },
            {
              "name": "p_date",
              "value": "={{ $('Parse Gemini Response').first().json.tool_args.date || $today.format('yyyy-MM-dd') }}"
            },
            {
              "name": "p_duration_minutes",
              "value": "={{ $('Parse Gemini Response').first().json.tool_args.duration_minutes || 30 }}"
            },
            {
              "name": "p_scan_days",
              "value": "={{ $('Parse Gemini Response').first().json.tool_args.scan_days || 1 }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "RPC get_available_slots: returns free slots for merchant+date+duration (migration 021). Used by Sanitize to build safe_available_slots_text for LLM prompt.",
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "id": "0cad367d-df43-41ce-8e81-2419d5945ce4",
      "name": "Has Tool Call?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        128
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-tool-call-check",
              "leftValue": "={{ $json.has_tool_call }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1162a0d-0397-4836-b9bb-7e7280d892da",
      "name": "Build Tool Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        48
      ],
      "parameters": {
        "jsCode": "/**\n * Build Tool Response v3 — groupe les slots par date quand scan_days > 1\n * pour que Gemini AI Final puisse proposer le 1er créneau dispo à coup sûr.\n * v3 : cap à 5 slots/jour max pour économiser les tokens (Gemini en proposera 2-3).\n */\nconst availItems = $('Check Availability').all() || [];\nconst validSlots = availItems.filter(it => it && it.json && it.json.slot_start);\n\nlet tool_response_data;\nif (validSlots.length === 0) {\n  tool_response_data = {\n    days: [],\n    count: 0,\n    message: \"Aucun créneau disponible pour la période demandée.\"\n  };\n} else {\n  const timeFmt = new Intl.DateTimeFormat('fr-FR', {\n    timeZone: 'Europe/Paris',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  });\n  const dayLabelFmt = new Intl.DateTimeFormat('fr-FR', {\n    timeZone: 'Europe/Paris',\n    weekday: 'long',\n    day: 'numeric',\n    month: 'long'\n  });\n  const dateKeyFmt = new Intl.DateTimeFormat('fr-CA', {\n    timeZone: 'Europe/Paris',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  });\n\n  // Regroupe les slots par date (clef = yyyy-mm-dd en tz Paris)\n  const byDate = {};\n  validSlots.forEach(it => {\n    const d = new Date(it.json.slot_start);\n    const dateKey = dateKeyFmt.format(d);\n    if (!byDate[dateKey]) {\n      byDate[dateKey] = {\n        date: dateKey,\n        day_label: dayLabelFmt.format(d),\n        slots: []\n      };\n    }\n    byDate[dateKey].slots.push({\n      time: timeFmt.format(d),\n      iso: it.json.slot_start,\n      practitioner: it.json.practitioner_name,\n      practitioner_id: it.json.practitioner_id\n    });\n  });\n\n  const days = Object.values(byDate).sort((a, b) => a.date.localeCompare(b.date));\n\n  // v3 : cap à 5 slots/jour max. Gemini en proposera 2-3 parmi ceux-ci.\n  // Économise ~80% des tokens du call 2 (scan_days=14 passait à 11k tokens avant).\n  // total_slots_on_day garde l'info réelle pour que Gemini sache qu'il y a plus si besoin.\n  const MAX_SLOTS_PER_DAY = 5;\n  days.forEach(day => {\n    day.total_slots_on_day = day.slots.length;\n    if (day.slots.length > MAX_SLOTS_PER_DAY) {\n      day.slots = day.slots.slice(0, MAX_SLOTS_PER_DAY);\n    }\n  });\n\n  tool_response_data = {\n    days: days,\n    count: validSlots.length,\n    message: `${validSlots.length} créneau${validSlots.length > 1 ? 'x' : ''} disponible${validSlots.length > 1 ? 's' : ''} sur ${days.length} jour${days.length > 1 ? 's' : ''}.`\n  };\n}\n\nconst ctx = $('Parse Gemini Response').first().json;\n\nreturn [{\n  json: {\n    ...ctx,\n    tool_response_data: tool_response_data\n  }\n}];\n"
      }
    },
    {
      "id": "9916958e-058a-43cc-b6ad-4fad6b9f906b",
      "name": "Gemini AI Final",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3296,
        48
      ],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"[CLIENT MESSAGE START]\\n{{ $('Compute Budget Status').first().json.safe_message_text }}\\n[CLIENT MESSAGE END]\"}]},{\"role\":\"model\",\"parts\":{{ JSON.stringify($('Parse Gemini Response').first().json.conversation_parts) }} },{\"role\":\"user\",\"parts\":[{\"functionResponse\":{\"name\":\"get_available_slots\",\"response\":{{ JSON.stringify($('Build Tool Response').first().json.tool_response_data) }} } }]}],\"systemInstruction\":{\"parts\":[{\"text\":\"Tu es {{ $('Compute Budget Status').first().json.ai_name || 'AurA' }}, l'assistant IA du salon {{ $('Compute Budget Status').first().json.salon_name }}.\\n\\n=== RÈGLES ABSOLUES ===\\n1. Si {{ $('Compute Budget Status').first().json.safe_has_history }} = true → NE COMMENCE PAS par Bonjour/Bonsoir. Enchaine direct.\\n2. Si false → commence par '{{ $('Compute Budget Status').first().json.safe_greeting_word }}'.\\n3. Vouvoiement, chaleureux et professionnel. Max 3 phrases.\\n4. JAMAIS Coucou/Salut/Hello.\\n5. Ne demande JAMAIS l'année.\\n\\n=== CONTEXTE ===\\nAUJOURD'HUI : {{ $('Compute Budget Status').first().json.ref_dates.today_label }}\\nServices : {{ $('Compute Budget Status').first().json.safe_services_list }}\\n\\n=== HISTORIQUE ===\\n{{ $('Compute Budget Status').first().json.safe_conversation_history }}\\n\\n=== DATES DE RÉFÉRENCE (pour alternatives) ===\\ndemain: {{ $('Compute Budget Status').first().json.ref_dates.tomorrow }}, après-demain: {{ $('Compute Budget Status').first().json.ref_dates.day_after_tomorrow }}, lundi: {{ $('Compute Budget Status').first().json.ref_dates.next_monday }}, mardi: {{ $('Compute Budget Status').first().json.ref_dates.next_tuesday }}, mercredi: {{ $('Compute Budget Status').first().json.ref_dates.next_wednesday }}, jeudi: {{ $('Compute Budget Status').first().json.ref_dates.next_thursday }}, vendredi: {{ $('Compute Budget Status').first().json.ref_dates.next_friday }}\\n\\n=== RÉSULTAT DE get_available_slots ===\\nLe tool_response_data a ce format : { days: [{date, day_label, slots: [{time, iso, practitioner, practitioner_id}]}], count, message }\\n\\nCAS 1 : count > 0 (au moins 1 créneau trouvé)\\n→ Prends le 1er jour de days[] (le plus proche). Propose EXACTEMENT 2 à 3 créneaux de ce jour au client, JAMAIS PLUS. C'est une RÈGLE ABSOLUE — même si days[0].slots contient plus de créneaux, tu n'en cites QUE 2 ou 3 au client.\\n→ Exemple : 'Je peux vous proposer 3 créneaux le mardi 14 avril : 9h avec Nora, 10h30 avec Nora, ou 14h avec Nora.'\\n→ INTERDIT de lister plus de 3 créneaux. Exemple MAUVAIS : '9h, 9h30, 10h, 10h30, 11h, 14h, 14h30...' — ça noie le client. Si les 2-3 proposés ne conviennent pas, il redemandera et tu proposeras 2-3 AUTRES.\\n→ Si le 1er jour a peu ou pas de slots, prends le prochain jour disponible dans days[].\\n\\nCAS 2 : count === 0 (aucun créneau sur toute la période scannée)\\n→ Dis poliment qu'aucune dispo n'a été trouvée sur cette période.\\n→ Propose au client de étendre la recherche ou de choisir une autre période. Ex : 'Je n'ai trouvé aucune disponibilité sur la période demandée. Souhaitez-vous que je regarde la semaine suivante ?'\\n→ NE JAMAIS inventer des dates non vérifiées.\\n\\nRéponds en {{ $('Compute Budget Status').first().json.preferred_language || 'français' }} avec FORMAT JSON strict : response_text, action (propose_slots), booking_data (practitioner_id, service_id, starts_at, ends_at - tous null).\"}]},\"generationConfig\":{\"temperature\":0.2,\"maxOutputTokens\":500,\"responseMimeType\":\"application/json\"} }",
        "options": {}
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "Yn2UQRijLEI1k4Nl",
          "name": "Query Auth account"
        }
      },
      "notes": "Gemini 2e appel — après tool execution. Reçoit contents avec user+model(functionCall)+user(functionResponse) et génère la réponse textuelle finale."
    },
    {
      "id": "a3e08b0c-1618-405d-9772-6660f37f588e",
      "name": "Parse Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        128
      ],
      "parameters": {
        "jsCode": "/**\n * Parse Final Response — extrait le texte JSON de la 2e réponse Gemini\n * (celle qui a reçu le résultat du tool) et merge les tokens du 1er + 2e appel.\n *\n * Option D : Gemini function calling pattern.\n */\nconst geminiOutput = $input.first().json;\nconst candidate = geminiOutput.candidates?.[0];\nconst text = candidate?.content?.parts?.[0]?.text || '{}';\nconst usageMetadata = geminiOutput.usageMetadata || {};\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {\n    response_text: text || \"Désolé, je n'ai pas compris. Pouvez-vous reformuler ?\",\n    action: 'none',\n    booking_data: {}\n  };\n}\n\nconst ctx = $('Build Tool Response').first().json;\n\nconst call1Prompt = ctx.gemini_call1_prompt_tokens || 0;\nconst call1Completion = ctx.gemini_call1_completion_tokens || 0;\nconst call2Prompt = usageMetadata.promptTokenCount || 0;\nconst call2Completion = usageMetadata.candidatesTokenCount || 0;\n\nreturn [{\n  json: {\n    ...ctx,\n    response_text: parsed.response_text,\n    action: parsed.action || 'none',\n    booking_data: parsed.booking_data || {},\n    llm_provider: 'gemini',\n    llm_model: 'gemini-2.5-flash-lite',\n    llm_prompt_tokens: call1Prompt + call2Prompt,\n    llm_completion_tokens: call1Completion + call2Completion,\n    llm_total_tokens: call1Prompt + call1Completion + call2Prompt + call2Completion,\n    llm_is_fallback: false,\n    llm_error: null\n  }\n}];\n"
      }
    },
    {
      "id": "e07921f3-5354-4903-a491-9d8b0a3a8320",
      "name": "Save Client Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        192
      ],
      "parameters": {
        "method": "POST",
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "merchant_id",
              "value": "={{ $('Build Context').first().json.merchant_id }}"
            },
            {
              "name": "conversation_id",
              "value": "={{ $('Ensure Conversation').first().json.id }}"
            },
            {
              "name": "sender",
              "value": "client"
            },
            {
              "name": "content",
              "value": "={{ $('Build Context').first().json.message_text }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "Persiste le message client dans messages table avant Gemini. Utilisé pour charger l'historique à la prochaine interaction.",
      "executeOnce": true
    },
    {
      "id": "3df63304-1388-4001-8519-79ebbd08fbff",
      "name": "Ensure Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        192
      ],
      "parameters": {
        "method": "POST",
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/rpc/get_or_create_active_conversation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_merchant_id",
              "value": "={{ $('Build Context').first().json.merchant_id }}"
            },
            {
              "name": "p_client_id",
              "value": "={{ $('Build Context').first().json.client_id }}"
            },
            {
              "name": "p_channel",
              "value": "={{ $('Build Context').first().json.channel || 'whatsapp' }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "RPC get_or_create_active_conversation (migration 022). Retourne l'ID UUID de la conversation active. Body = la string UUID directement, donc $json = 'uuid-string'.",
      "executeOnce": true
    },
    {
      "id": "984dcaa7-2c6f-4c1b-88f6-d320169a4e48",
      "name": "Load Services",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        192
      ],
      "parameters": {
        "method": "GET",
        "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/services",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
            }
          ]
        },
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "merchant_id",
              "value": "=eq.{{ $('Find Merchant').first().json.id }}"
            },
            {
              "name": "is_active",
              "value": "eq.true"
            },
            {
              "name": "select",
              "value": "id,name,duration_minutes,price_cents"
            },
            {
              "name": "order",
              "value": "sort_order.asc"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "oRRRgpJ5HWoIrVpQ",
          "name": "Supabase apikey"
        }
      },
      "notes": "Liste des services actifs du merchant (id, nom, durée, prix). Injecté dans le prompt Gemini pour qu'il propose un service au lieu de demander une durée.",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Check Client Subscriptions": {
      "main": [
        [
          {
            "node": "Sanitize Prompt Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Exceeded?": {
      "main": [
        [
          {
            "node": "Static Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Fallback": {
      "main": [
        [
          {
            "node": "Parse Mistral Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Static Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Needed?": {
      "main": [
        [
          {
            "node": "Send Budget Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Booking Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Budget Alert": {
      "main": [
        [
          {
            "node": "Booking Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Action?": {
      "main": [
        [
          {
            "node": "Create Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save AI Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI Message": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Find Merchant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Merchant": {
      "main": [
        [
          {
            "node": "Load Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Client": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Prompt Inputs": {
      "main": [
        [
          {
            "node": "Get Merchant Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Merchant Budget": {
      "main": [
        [
          {
            "node": "Get Monthly Token Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Monthly Token Usage": {
      "main": [
        [
          {
            "node": "Compute Budget Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Budget Status": {
      "main": [
        [
          {
            "node": "Budget Exceeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Mistral Response": {
      "main": [
        [
          {
            "node": "Compute Token Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Static Fallback": {
      "main": [
        [
          {
            "node": "Compute Token Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Token Cost": {
      "main": [
        [
          {
            "node": "Insert Token Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Token Usage": {
      "main": [
        [
          {
            "node": "Compute Alert Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Alert Level": {
      "main": [
        [
          {
            "node": "Alert Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Client Packages": {
      "main": [
        [
          {
            "node": "Check Client Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Has Tool Call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tool Call?": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compute Token Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Build Tool Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tool Response": {
      "main": [
        [
          {
            "node": "Gemini AI Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Final": {
      "main": [
        [
          {
            "node": "Parse Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Final Response": {
      "main": [
        [
          {
            "node": "Compute Token Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Conversation History": {
      "main": [
        [
          {
            "node": "Save Client Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Client Message": {
      "main": [
        [
          {
            "node": "Check Client Packages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Ensure Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Conversation": {
      "main": [
        [
          {
            "node": "Load Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Services": {
      "main": [
        [
          {
            "node": "Identify Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking": {
      "main": [
        [
          {
            "node": "Save AI Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "53f594bd-1a4a-4271-abb3-c5a2206fb7df",
  "activeVersionId": "9a28ef11-8006-4c04-8032-961d5a5a9394",
  "versionCounter": 241,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-05T11:57:05.462Z",
      "createdAt": "2026-04-05T11:57:05.462Z",
      "role": "workflow:owner",
      "workflowId": "ztxCL7QS1DLo1i59",
      "projectId": "fKL1gEmfjlOAtUqR",
      "project": {
        "updatedAt": "2026-04-05T11:51:47.454Z",
        "createdAt": "2026-04-05T11:49:53.339Z",
        "id": "fKL1gEmfjlOAtUqR",
        "name": "Alex Aura_Solutions <projet.dev.aurasolutions@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "207c7094-166b-443e-979e-36ed4b287e4f"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-04-05T11:56:23.455Z",
      "createdAt": "2026-04-05T11:56:23.455Z",
      "id": "OxSz08OfcbdXvEcF",
      "name": "mvp"
    },
    {
      "updatedAt": "2026-04-05T11:56:23.452Z",
      "createdAt": "2026-04-05T11:56:23.452Z",
      "id": "ci9gODlEjY63kb6t",
      "name": "booking"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-11T17:03:01.563Z",
    "createdAt": "2026-04-11T17:03:01.563Z",
    "versionId": "9a28ef11-8006-4c04-8032-961d5a5a9394",
    "workflowId": "ztxCL7QS1DLo1i59",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "booking-conversation",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -240,
          64
        ],
        "webhookId": "a12147a8-c4d5-4317-abc1-53989c791940",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/clients",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "on_conflict",
                "value": "merchant_id,phone"
              },
              {
                "name": "select",
                "value": "id,name,phone,whatsapp_id,loyalty_points,preferred_service_id,preferred_practitioner_id,preferred_language"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates,return=representation"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"merchant_id\": \"{{ $('Find Merchant').first().json.id }}\",\n  \"phone\": \"{{ $('Webhook Trigger').first().json.body.sender_phone || $('Webhook Trigger').first().json.sender_phone }}\",\n  \"whatsapp_id\": \"{{ $('Webhook Trigger').first().json.body.sender_phone || $('Webhook Trigger').first().json.sender_phone }}\",\n  \"name\": \"{{ $('Webhook Trigger').first().json.body.sender_name || $('Webhook Trigger').first().json.sender_name || 'Inconnu' }}\",\n  \"preferred_language\": \"fr\"\n}",
          "options": {}
        },
        "id": "identify-client",
        "name": "Identify Client",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          160,
          64
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "Upsert client by (merchant_id, phone). Returns row (insert or update). Auth via credential mRd60LO2hwQq9oBH.",
        "executeOnce": true
      },
      {
        "parameters": {
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "conversation_id",
                "value": "=eq.{{ $('Ensure Conversation').first().json.id }}"
              },
              {
                "name": "select",
                "value": "content,sender,created_at"
              },
              {
                "name": "order",
                "value": "created_at.asc"
              },
              {
                "name": "limit",
                "value": "20"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "options": {},
          "qs": {
            "parameters": [
              {
                "name": "conversation_id",
                "value": "=eq.{{ $('Ensure Conversation').first().json.conversation_id }}"
              },
              {
                "name": "select",
                "value": "content,sender,created_at"
              },
              {
                "name": "order",
                "value": "created_at.asc"
              },
              {
                "name": "limit",
                "value": "20"
              }
            ]
          }
        },
        "id": "load-history",
        "name": "Load Conversation History",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          64
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "Load last 10 messages from active conversation for context",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/client_packages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "merchant_id",
                "value": "=eq.{{ $('Build Context').first().json.merchant_id }}"
              },
              {
                "name": "client_id",
                "value": "=eq.{{ $('Build Context').first().json.client_id }}"
              },
              {
                "name": "remaining_uses",
                "value": "gt.0"
              },
              {
                "name": "select",
                "value": "id,remaining_uses,expires_at,package:packages(name,service_id,is_active)"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "options": {}
        },
        "id": "check-packages",
        "name": "Check Client Packages",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          -32
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "T078: Check if client has active packages or subscriptions. If so, skip payment request.",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/client_subscriptions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "merchant_id",
                "value": "=eq.{{ $('Build Context').first().json.merchant_id }}"
              },
              {
                "name": "client_id",
                "value": "=eq.{{ $('Build Context').first().json.client_id }}"
              },
              {
                "name": "status",
                "value": "eq.active"
              },
              {
                "name": "select",
                "value": "id,name,service_id"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "options": {}
        },
        "id": "check-subscriptions",
        "name": "Check Client Subscriptions",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          160
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "T078: Check if client has active subscriptions for the requested service.",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "/**\n * Sanitize Prompt Inputs v3 — Option D polish 6\n */\n\nconst MAX_NAME = 80;\nconst MAX_MESSAGE = 500;\nconst MAX_HISTORY = 2000;\nconst MAX_FIELD = 200;\nconst MAX_HISTORY_MESSAGES = 10;\n\nfunction sanitize(s, maxLen) {\n  if (!s) return '';\n  s = String(s)\n    .replace(/\\b(system|assistant|admin)\\s*:/gi, '[FILTERED]')\n    .replace(/\\b(tu\\s+es|you\\s+are)\\s+(now|maintenant|désormais)/gi, '[FILTERED]')\n    .replace(/\\bACT\\s+AS\\b/gi, '[FILTERED]')\n    .replace(/\\bRÈGLES?\\s*:/gi, '[FILTERED]')\n    .replace(/\\bINSTRUCTION[S]?\\s*:/gi, '[FILTERED]');\n  if (s.length > maxLen) s = s.substring(0, maxLen) + '…';\n  return s;\n}\n\nconst ctx = $('Build Context').first().json;\n\nconst packagesData = $('Check Client Packages').first()?.json || [];\nconst subscriptionsData = $('Check Client Subscriptions').first()?.json || [];\nconst nowIso = new Date().toISOString();\n\nconst packages = Array.isArray(packagesData) ? packagesData : [];\nconst subscriptions = Array.isArray(subscriptionsData) ? subscriptionsData : [];\n\nconst activePackages = packages.filter(cp => {\n  if (!cp.package || !cp.package.is_active) return false;\n  if (cp.expires_at && cp.expires_at < nowIso) return false;\n  return true;\n});\n\nconst activeSubscriptions = subscriptions;\n\nlet coverageSummary = 'aucun';\nif (activePackages.length > 0 || activeSubscriptions.length > 0) {\n  const parts = [];\n  activePackages.forEach(cp => {\n    parts.push(`Forfait \"${cp.package.name}\" (${cp.remaining_uses} séances restantes)`);\n  });\n  activeSubscriptions.forEach(sub => {\n    parts.push(`Abonnement \"${sub.name}\" (actif)`);\n  });\n  coverageSummary = parts.join(', ');\n}\n\n// Services list depuis Load Services\nlet servicesList = 'Aucun service actif';\ntry {\n  const servicesItems = $('Load Services').all() || [];\n  const services = servicesItems\n    .map(it => it && it.json ? it.json : null)\n    .filter(s => s && s.name && s.duration_minutes);\n  if (services.length > 0) {\n    servicesList = services\n      .map(s => {\n        const price = s.price_cents ? `${(s.price_cents / 100).toFixed(0)}€` : '';\n        return `${s.name} (${s.duration_minutes} min${price ? ', ' + price : ''})`;\n      })\n      .join(', ');\n  }\n} catch (e) {\n  servicesList = 'Aucun service actif';\n}\n\n// Historique conversation depuis Load Conversation History\nlet conversationHistoryText = 'Première interaction';\nlet hasHistory = false;\ntry {\n  const lchItems = $('Load Conversation History').all() || [];\n  const messages = lchItems\n    .map(it => it && it.json ? it.json : null)\n    .filter(m => m && m.content && m.sender);\n  if (messages.length > 0) {\n    const msgs = messages\n      .sort((a, b) => (a.created_at || '').localeCompare(b.created_at || ''))\n      .slice(-MAX_HISTORY_MESSAGES);\n    if (msgs.length > 0) {\n      const rawHistory = msgs\n        .map(m => {\n          const role = m.sender === 'ai' ? 'IA' : 'Client';\n          return `[${role}] ${m.content}`;\n        })\n        .join('\\n');\n      conversationHistoryText = JSON.stringify(rawHistory).slice(1, -1);\n      hasHistory = true;\n    }\n  }\n} catch (e) {\n  conversationHistoryText = 'Première interaction';\n}\n\nconst slotsText = 'Les créneaux sont vérifiés à la demande via la fonction get_available_slots.';\n\n// Pré-calcul des dates de référence (Europe/Paris)\nconst tz = 'Europe/Paris';\nconst nowDt = DateTime.now().setZone(tz);\nconst nowFr = nowDt.setLocale('fr');\nconst todayWeekday = nowDt.weekday;\n\n// Greeting selon l'heure locale Paris\nconst currentHour = nowDt.hour;\nconst greetingWord = (currentHour >= 18 || currentHour < 5) ? 'Bonsoir' : 'Bonjour';\n\n// Détection intention booking : si la phrase contient un mot-clé booking ET un indice\n// temporel, on force Gemini à appeler get_available_slots (mode ANY) pour éviter\n// les hallucinations (Gemini Flash Lite ignore parfois la règle du prompt).\nconst msgLower = String(ctx.message_text || '').toLowerCase();\nconst bookingKeywords = /\\b(rdv|rendez[-\\s]?vous|créneau|creneau|dispo|disponibilit|réserver|reserver|réservation|coupe|barbe|coiffure|soin|service)\\b/i;\nconst timeKeywords = /\\b(demain|après[-\\s]?demain|aujourd'hui|ce\\s+soir|ce\\s+matin|lundi|mardi|mercredi|jeudi|vendredi|samedi|dimanche|semaine|prochain|suivant|tot|tôt|rapidement|asap|avant|après)\\b/i;\nconst hasBookingIntent = bookingKeywords.test(msgLower);\nconst hasTimeClue = timeKeywords.test(msgLower);\nconst shouldForceToolCall = hasBookingIntent && hasTimeClue;\nconst toolCallMode = shouldForceToolCall ? 'ANY' : 'AUTO';\n\nfunction nextWeekday(targetIso) {\n  const daysAhead = ((targetIso - todayWeekday + 7) % 7) || 7;\n  return nowDt.plus({ days: daysAhead }).toFormat('yyyy-MM-dd');\n}\n\nconst nextMondayIso = nextWeekday(1);\nconst weekAfterNextMondayDt = DateTime.fromISO(nextMondayIso, { zone: tz }).plus({ days: 7 });\n\nconst weekdayNames = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];\nconst openingHours = ctx.opening_hours || {};\nlet nextOpenDay = nowDt.plus({ days: 1 }).toFormat('yyyy-MM-dd');\nfor (let i = 1; i <= 14; i++) {\n  const candidate = nowDt.plus({ days: i });\n  const dayName = weekdayNames[candidate.weekday - 1];\n  const dayConfig = openingHours[dayName];\n  if (dayConfig && dayConfig.open) {\n    nextOpenDay = candidate.toFormat('yyyy-MM-dd');\n    break;\n  }\n}\n\nconst ref_dates = {\n  today: nowDt.toFormat('yyyy-MM-dd'),\n  today_label: nowFr.toFormat('cccc yyyy-MM-dd'),\n  tomorrow: nowDt.plus({ days: 1 }).toFormat('yyyy-MM-dd'),\n  day_after_tomorrow: nowDt.plus({ days: 2 }).toFormat('yyyy-MM-dd'),\n  next_open_day: nextOpenDay,\n  next_monday: nextMondayIso,\n  next_tuesday: nextWeekday(2),\n  next_wednesday: nextWeekday(3),\n  next_thursday: nextWeekday(4),\n  next_friday: nextWeekday(5),\n  next_saturday: nextWeekday(6),\n  next_sunday: nextWeekday(7),\n  week_after_next_monday: weekAfterNextMondayDt.toFormat('yyyy-MM-dd'),\n  week_after_next_tuesday: weekAfterNextMondayDt.plus({ days: 1 }).toFormat('yyyy-MM-dd'),\n  week_after_next_wednesday: weekAfterNextMondayDt.plus({ days: 2 }).toFormat('yyyy-MM-dd'),\n  week_after_next_thursday: weekAfterNextMondayDt.plus({ days: 3 }).toFormat('yyyy-MM-dd'),\n  week_after_next_friday: weekAfterNextMondayDt.plus({ days: 4 }).toFormat('yyyy-MM-dd'),\n  week_after_next_saturday: weekAfterNextMondayDt.plus({ days: 5 }).toFormat('yyyy-MM-dd')\n};\n\nlet conversationIdFromRpc = null;\ntry {\n  const ecOut = $('Ensure Conversation').first().json;\n  if (ecOut && ecOut.id) {\n    conversationIdFromRpc = ecOut.id;\n  } else if (Array.isArray(ecOut) && ecOut.length > 0 && ecOut[0].id) {\n    conversationIdFromRpc = ecOut[0].id;\n  }\n} catch (e) {}\n\nreturn [{\n  json: {\n    ...ctx,\n    safe_client_name: sanitize(ctx.client_name, MAX_NAME) || 'Inconnu',\n    safe_message_text: sanitize(ctx.message_text, MAX_MESSAGE),\n    safe_preferred_service: sanitize(ctx.preferred_service, MAX_FIELD) || 'aucun',\n    safe_preferred_practitioner: sanitize(ctx.preferred_practitioner, MAX_FIELD) || 'aucun',\n    safe_active_package: sanitize(coverageSummary, MAX_FIELD) || 'aucun',\n    safe_conversation_history: sanitize(conversationHistoryText, MAX_HISTORY),\n    safe_available_slots_text: slotsText,\n    safe_services_list: servicesList,\n    safe_greeting_word: greetingWord,\n    safe_has_history: hasHistory,\n    safe_tool_call_mode: toolCallMode,\n    safe_loyalty_points: Number(ctx.loyalty_points) || 0,\n    safe_cancellation_delay: Number(ctx.cancellation_delay_minutes) || 120,\n    has_active_coverage: activePackages.length > 0 || activeSubscriptions.length > 0,\n    ref_dates: ref_dates,\n    conversation_id: conversationIdFromRpc\n  }\n}];\n"
        },
        "id": "sanitize-inputs",
        "name": "Sanitize Prompt Inputs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          64
        ],
        "notes": "ASI01 defense + T078: sanitize all user-controlled data, merge package/subscription info."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "budget-check",
                "leftValue": "={{ $json.ai_budget_exceeded }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "budget-gate",
        "name": "Budget Exceeded?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1856,
          64
        ],
        "notes": "Si budget dépassé → message statique direct, sinon → Gemini"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpQueryAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"[CLIENT MESSAGE START]\\n{{ $('Compute Budget Status').first().json.safe_message_text }}\\n[CLIENT MESSAGE END]\"}]}],\"systemInstruction\":{\"parts\":[{\"text\":\"Tu es {{ $('Compute Budget Status').first().json.ai_name || 'AurA' }}, l'assistant IA du salon {{ $('Compute Budget Status').first().json.salon_name }}.\\n\\n=== RÈGLE #1 ABSOLUE : ANTI-HALLUCINATION ===\\nINTERDIT de mentionner une DATE, un HORAIRE, une DISPONIBILITÉ dans ta réponse texte SANS avoir d'abord appelé get_available_slots.\\n\\n=== RÈGLE #2 : SALUTATION ===\\nHistorique existe : {{ $('Compute Budget Status').first().json.safe_has_history }}\\n- Si true : NE COMMENCE PAS par Bonjour/Bonsoir. Enchaine direct.\\n- Si false : commence par '{{ $('Compute Budget Status').first().json.safe_greeting_word }}'.\\n\\n=== RÈGLE #3 : NE JAMAIS REDEMANDER ===\\nRELIS l'HISTORIQUE. Si l'info est déjà dedans, utilise-la directement.\\n\\n=== RÈGLE #4 : ANNÉE ===\\nUtilise TOUJOURS l'année d'AUJOURD'HUI. Ne demande JAMAIS l'année.\\n\\n=== STYLE ===\\n- Vouvoiement, chaleureux et professionnel. Max 2-3 phrases.\\n- JAMAIS Coucou/Salut/Hello.\\n\\n=== CONTEXTE TEMPOREL ===\\nAUJOURD'HUI : {{ $('Compute Budget Status').first().json.ref_dates.today_label }}\\n\\nDATES (copie dans tool_args.date) :\\n- 'aujourd'hui' → {{ $('Compute Budget Status').first().json.ref_dates.today }}\\n- 'demain' → {{ $('Compute Budget Status').first().json.ref_dates.tomorrow }}\\n- 'après-demain' → {{ $('Compute Budget Status').first().json.ref_dates.day_after_tomorrow }}\\n- 'lundi' → {{ $('Compute Budget Status').first().json.ref_dates.next_monday }}\\n- 'mardi' → {{ $('Compute Budget Status').first().json.ref_dates.next_tuesday }}\\n- 'mercredi' → {{ $('Compute Budget Status').first().json.ref_dates.next_wednesday }}\\n- 'jeudi' → {{ $('Compute Budget Status').first().json.ref_dates.next_thursday }}\\n- 'vendredi' → {{ $('Compute Budget Status').first().json.ref_dates.next_friday }}\\n- 'samedi' → {{ $('Compute Budget Status').first().json.ref_dates.next_saturday }}\\n- 'dimanche' → {{ $('Compute Budget Status').first().json.ref_dates.next_sunday }}\\n- 'la semaine prochaine' → {{ $('Compute Budget Status').first().json.ref_dates.next_monday }}\\n- 'la semaine suivante' → {{ $('Compute Budget Status').first().json.ref_dates.week_after_next_monday }}\\n\\n=== SERVICES DISPONIBLES ===\\n{{ $('Compute Budget Status').first().json.safe_services_list }}\\nUtilise la durée du service dans tool_args.duration_minutes. Ne demande JAMAIS au client combien de temps il veut.\\n\\n=== OUTIL get_available_slots ===\\nLa fonction accepte 3 paramètres : date (YYYY-MM-DD), duration_minutes, scan_days (nb de jours à scanner à partir de date, default 1, max 14).\\n\\nRÈGLE scan_days :\\n- Si l'utilisateur demande une date précise (ex: 'mardi prochain', 'le 14'), utilise scan_days=1.\\n- Si l'utilisateur dit 'le plus tôt possible', 'dès que possible', 'asap', 'rapidement', 'au plus vite', 'quand vous voulez' → utilise scan_days=14 avec date={{ $('Compute Budget Status').first().json.ref_dates.tomorrow }}. Cela scannera 14 jours à partir de demain pour trouver la 1ère vraie dispo.\\n- Si 'la semaine prochaine' sans jour précis → scan_days=5 avec date={{ $('Compute Budget Status').first().json.ref_dates.next_monday }} (scan lundi à vendredi).\\n- Si 'la semaine suivante' sans jour précis → scan_days=5 avec date={{ $('Compute Budget Status').first().json.ref_dates.week_after_next_monday }}.\\n\\nAPPELLE la fonction si l'utilisateur demande un RDV ET donne un indice temporel.\\n\\nN'APPELLE PAS si :\\n- Salutation seule\\n- Question générique (horaires, services, tarifs)\\n- Annulation\\n- Remerciement seul\\n- Intention floue sans indice temporel\\n\\n=== DONNÉES CLIENT ===\\n- Nom: {{ $('Compute Budget Status').first().json.safe_client_name }}\\n- Service habituel: {{ $('Compute Budget Status').first().json.safe_preferred_service }}\\n\\n=== HISTORIQUE ===\\n{{ $('Compute Budget Status').first().json.safe_conversation_history }}\\n\\nFORMAT JSON strict : response_text, action (none|propose_slots|confirm_booking|cancel_booking), booking_data (practitioner_id, service_id, starts_at, ends_at).\"}]},\"tools\":[{\"functionDeclarations\":[{\"name\":\"get_available_slots\",\"description\":\"Retourne les créneaux libres du salon, soit pour UNE date précise (scan_days=1), soit pour plusieurs jours consécutifs (scan_days jusqu'à 14). DOIT être appelée avant de mentionner toute disponibilité.\",\"parameters\":{\"type\":\"object\",\"properties\":{\"date\":{\"type\":\"string\",\"description\":\"Date de départ au format YYYY-MM-DD, copiée depuis les DATES du system prompt.\"},\"duration_minutes\":{\"type\":\"integer\",\"description\":\"Durée du créneau en minutes. Utilise la durée du service choisi.\"},\"scan_days\":{\"type\":\"integer\",\"description\":\"Nombre de jours à scanner à partir de date. Default 1 (une seule date). Utilise 7 pour 'le plus tôt possible' (scan sur 7 jours glissants). Utilise 5 pour 'la semaine prochaine' sans jour précis.\"} },\"required\":[\"date\"]} }]}],\"toolConfig\":{\"functionCallingConfig\":{\"mode\":\"{{ $('Compute Budget Status').first().json.safe_tool_call_mode }}\",\"allowedFunctionNames\":[\"get_available_slots\"]} },\"generationConfig\":{\"temperature\":0.2,\"maxOutputTokens\":500} }",
          "options": {}
        },
        "id": "gemini-ai",
        "name": "Gemini AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          208
        ],
        "credentials": {
          "httpQueryAuth": {
            "id": "Yn2UQRijLEI1k4Nl",
            "name": "Query Auth account"
          }
        },
        "onError": "continueErrorOutput",
        "notes": "Gemini 2.5 Flash Lite — LLM principal. En cas d'erreur → fallback Mistral."
      },
      {
        "parameters": {
          "jsCode": "/**\n * Parse Gemini Response / Parse Tool Call\n *\n * Option D : Gemini function calling pattern.\n *\n * Détecte si Gemini veut appeler une fonction (get_available_slots) ou a directement\n * répondu en texte. Route ensuite via le node Has Tool Call?.\n *\n * Guardrail : Gemini 2.5 Flash Lite a un biais tool-use et appelle parfois la fonction\n * même pour des salutations simples. On override via regex pour économiser tokens\n * (2e appel + RPC) et garantir une UX cohérente.\n */\nconst geminiOutput = $input.first().json;\nconst candidate = geminiOutput.candidates?.[0];\nconst parts = candidate?.content?.parts || [];\nconst usageMetadata = geminiOutput.usageMetadata || {};\n\n// Cherche un functionCall dans les parts\nconst fnCallPart = parts.find(p => p.functionCall);\nconst fnCall = fnCallPart?.functionCall;\nconst textPart = parts.find(p => p.text !== undefined)?.text;\n\nconst ctx = $('Compute Budget Status').first().json;\n\n// --- Guardrail greetings ---\n// Si l'utilisateur a juste dit Bonjour/Merci/etc., on écrase l'éventuel tool call\n// de Gemini et on retourne une réponse texte directe.\nconst GREETING_PATTERN = /^(bonjour|coucou|salut|hello|bonsoir|hi|hey|yo|hola|allo|allô|cc)[!.\\s,]*$/i;\nconst THANKS_PATTERN = /^(merci|thanks|thx|ok|d'accord|daccord|parfait|super)[!.\\s,]*$/i;\nconst msgText = String(ctx.safe_message_text || '').trim();\nconst isGreeting = GREETING_PATTERN.test(msgText);\nconst isThanks = THANKS_PATTERN.test(msgText);\n\nif (fnCall && (isGreeting || isThanks)) {\n  // Override : Gemini voulait appeler la fonction pour une salutation/remerciement — on ignore\n  const aiName = ctx.ai_name || 'AurA';\n  const salonName = ctx.salon_name || 'notre salon';\n  const overrideText = isGreeting\n    ? `Bonjour ! Je suis ${aiName}, l'assistant du salon ${salonName}. Souhaitez-vous prendre rendez-vous ? Dites-moi quel jour vous arrangerait.`\n    : `Avec plaisir ! À bientôt au salon ${salonName}.`;\n\n  return [{\n    json: {\n      ...ctx,\n      has_tool_call: false,\n      response_text: overrideText,\n      action: 'none',\n      booking_data: {},\n      llm_provider: 'gemini',\n      llm_model: 'gemini-2.5-flash-lite',\n      llm_prompt_tokens: usageMetadata.promptTokenCount || 0,\n      llm_completion_tokens: usageMetadata.candidatesTokenCount || 0,\n      llm_total_tokens: usageMetadata.totalTokenCount || 0,\n      llm_is_fallback: false,\n      llm_error: 'greeting_override'\n    }\n  }];\n}\n\nif (fnCall) {\n  // Gemini veut appeler une fonction\n  return [{\n    json: {\n      ...ctx,\n      has_tool_call: true,\n      tool_name: fnCall.name,\n      tool_args: fnCall.args || {},\n      tool_call_id: fnCall.id || null,\n      conversation_parts: parts,\n      gemini_call1_prompt_tokens: usageMetadata.promptTokenCount || 0,\n      gemini_call1_completion_tokens: usageMetadata.candidatesTokenCount || 0,\n      gemini_call1_total_tokens: usageMetadata.totalTokenCount || 0\n    }\n  }];\n}\n\n// Pas de tool call : réponse texte directe\nlet parsed;\ntry {\n  parsed = JSON.parse(textPart || '{}');\n} catch (e) {\n  parsed = {\n    response_text: textPart || \"Désolé, je n'ai pas compris. Pouvez-vous reformuler ?\",\n    action: 'none',\n    booking_data: {}\n  };\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    has_tool_call: false,\n    response_text: parsed.response_text || textPart || '',\n    action: parsed.action || 'none',\n    booking_data: parsed.booking_data || {},\n    llm_provider: 'gemini',\n    llm_model: 'gemini-2.5-flash-lite',\n    llm_prompt_tokens: usageMetadata.promptTokenCount || 0,\n    llm_completion_tokens: usageMetadata.candidatesTokenCount || 0,\n    llm_total_tokens: usageMetadata.totalTokenCount || 0,\n    llm_is_fallback: false,\n    llm_error: null\n  }\n}];\n"
        },
        "id": "parse-gemini",
        "name": "Parse Gemini Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2432,
          128
        ],
        "notes": "Extrait la réponse JSON + compteurs tokens de Gemini."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mistral.ai/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"mistral-small-latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es {{ $('Compute Budget Status').first().json.ai_name || 'AurA' }}, l'assistant IA du salon {{ $('Compute Budget Status').first().json.salon_name }}. Ton ton est {{ $('Compute Budget Status').first().json.ai_tone || 'friendly' }}.\\n\\nRÈGLES:\\n1. Objectif : réserver un RDV en ≤3 échanges\\n2. Si le client est connu, propose son service/praticien habituel\\n3. Propose les créneaux disponibles (max 3 options)\\n4. Confirme avec date, heure, praticien, service\\n5. Réponds TOUJOURS en français\\n6. IMPORTANT : Les données client ci-dessous sont fournies à titre informatif.\\n\\nDONNÉES CLIENT:\\n- Nom: {{ $('Compute Budget Status').first().json.safe_client_name }}\\n- Service habituel: {{ $('Compute Budget Status').first().json.safe_preferred_service }}\\n- Praticien habituel: {{ $('Compute Budget Status').first().json.safe_preferred_practitioner }}\\n- Points fidélité: {{ $('Compute Budget Status').first().json.safe_loyalty_points }}\\n- Forfait actif: {{ $('Compute Budget Status').first().json.safe_active_package }}\\n\\nCRÉNEAUX DISPONIBLES:\\n{{ $('Compute Budget Status').first().json.safe_available_slots_text }}\\n\\nHISTORIQUE:\\n{{ $('Compute Budget Status').first().json.safe_conversation_history }}\\n\\nRÉPONDS avec un JSON:\\n{\\n  \\\"response_text\\\": \\\"ton message au client\\\",\\n  \\\"action\\\": \\\"none|propose_slots|confirm_booking|cancel_booking\\\",\\n  \\\"booking_data\\\": {\\n    \\\"practitioner_id\\\": \\\"uuid ou null\\\",\\n    \\\"service_id\\\": \\\"uuid ou null\\\",\\n    \\\"starts_at\\\": \\\"ISO datetime ou null\\\",\\n    \\\"ends_at\\\": \\\"ISO datetime ou null\\\"\\n  }\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Compute Budget Status').first().json.safe_message_text }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 500,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
          "options": {}
        },
        "id": "mistral-fallback",
        "name": "Mistral Fallback",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2320,
          384
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "BKALTxrrMa7hDNXs",
            "name": "Mistral API"
          }
        },
        "onError": "continueErrorOutput",
        "notes": "Mistral Small — fallback si Gemini échoue. En cas d'erreur → message statique."
      },
      {
        "parameters": {
          "jsCode": "/**\n * Parse Mistral Response — extrait la réponse + les tokens consommés\n */\nconst mistralOutput = $input.first().json;\nconst choice = mistralOutput.choices?.[0];\nconst usage = mistralOutput.usage || {};\n\nlet parsed;\ntry {\n  const text = choice?.message?.content || '{}';\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {\n    response_text: choice?.message?.content || 'Désolé, je n\\'ai pas compris. Pouvez-vous reformuler ?',\n    action: 'none',\n    booking_data: {}\n  };\n}\n\nreturn [{\n  json: {\n    ...$('Compute Budget Status').first().json,\n    response_text: parsed.response_text,\n    action: parsed.action || 'none',\n    booking_data: parsed.booking_data || {},\n    // Token tracking\n    llm_provider: 'mistral',\n    llm_model: 'mistral-small-latest',\n    llm_prompt_tokens: usage.prompt_tokens || 0,\n    llm_completion_tokens: usage.completion_tokens || 0,\n    llm_total_tokens: usage.total_tokens || 0,\n    llm_is_fallback: true,\n    llm_error: null\n  }\n}];"
        },
        "id": "parse-mistral",
        "name": "Parse Mistral Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2704,
          64
        ],
        "notes": "Extrait la réponse JSON + compteurs tokens de Mistral."
      },
      {
        "parameters": {
          "jsCode": "/**\n * Static Fallback — message prédéfini quand les 2 LLMs sont down ou budget épuisé\n */\nconst context = $('Compute Budget Status').first().json;\nconst budgetExceeded = context.ai_budget_exceeded;\n\nlet message;\nif (budgetExceeded) {\n  message = 'Bonjour ! Notre assistant est temporairement indisponible. ' +\n    'Veuillez nous contacter directement par téléphone pour prendre rendez-vous. ' +\n    'Nous nous excusons pour la gêne occasionnée.';\n} else {\n  message = 'Bonjour ! Notre assistant rencontre un problème technique. ' +\n    'Un conseiller vous recontactera dans les plus brefs délais. ' +\n    'Nous nous excusons pour la gêne occasionnée.';\n}\n\nreturn [{\n  json: {\n    ...context,\n    response_text: message,\n    action: 'none',\n    booking_data: {},\n    // Token tracking\n    llm_provider: 'static',\n    llm_model: 'static-fallback',\n    llm_prompt_tokens: 0,\n    llm_completion_tokens: 0,\n    llm_total_tokens: 0,\n    llm_is_fallback: true,\n    llm_error: budgetExceeded ? 'budget_exceeded' : 'both_llms_down'\n  }\n}];"
        },
        "id": "static-fallback",
        "name": "Static Fallback",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          352
        ],
        "notes": "Dernier recours : message prédéfini si Gemini ET Mistral échouent, ou si budget dépassé."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "alert-check",
                "leftValue": "={{ $json.token_log_alert_level }}",
                "rightValue": "none",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "alert-gate",
        "name": "Alert Needed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3536,
          224
        ],
        "notes": "Si alerte (80%, 95%, 100% ou anomalie) → envoyer notification, sinon → continuer."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/system_notifications",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"merchant_id\": \"{{ $('Build Context').first().json.merchant_id }}\",\n  \"type\": \"{{ $json.token_log_alert_level === 'anomaly' ? 'ai_anomaly' : $json.token_log_alert_level === 'critical' ? 'ai_budget_critical' : $json.token_log_alert_level === 'warning' ? 'ai_budget_warning' : 'ai_budget_info' }}\",\n  \"title\": \"{{ $json.token_log_alert_level === 'anomaly' ? 'Anomalie consommation IA' : $json.token_log_alert_level === 'critical' ? 'Budget IA epuise' : $json.token_log_alert_level === 'warning' ? 'Budget IA a 95%' : 'Budget IA a 80%' }}\",\n  \"message\": \"{{ $json.token_log_alert_level === 'anomaly' ? 'Consommation IA anormalement elevee aujourd hui (' + $json.token_log_new_total + ' tokens, moyenne ' + $json.token_log_daily_avg + '/jour). Verifiez vos conversations.' : 'Consommation IA : ' + $json.token_log_new_percent + '% du budget mensuel (' + $json.token_log_new_total + '/' + $json.ai_budget + ' tokens).' }}\",\n  \"is_read\": false\n}",
          "options": {}
        },
        "id": "send-alert",
        "name": "Send Budget Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3776,
          128
        ],
        "notes": "Insère une notification d'alerte budget IA dans le dashboard commerçant."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-confirm",
                "leftValue": "={{ $json.action }}",
                "rightValue": "confirm_booking",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-action",
        "name": "Booking Action?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3984,
          240
        ],
        "notes": "Route based on AI action: confirm_booking → create booking, else → just reply"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/bookings",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"merchant_id\": \"{{ $('Build Context').first().json.merchant_id }}\",\n  \"client_id\": \"{{ $('Build Context').first().json.client_id }}\",\n  \"practitioner_id\": \"{{ $json.booking_data.practitioner_id }}\",\n  \"service_id\": \"{{ $json.booking_data.service_id }}\",\n  \"starts_at\": \"{{ $json.booking_data.starts_at }}\",\n  \"ends_at\": \"{{ $json.booking_data.ends_at }}\",\n  \"status\": \"confirmed\",\n  \"source_channel\": \"{{ $('Build Context').first().json.channel }}\"\n}",
          "options": {}
        },
        "id": "create-booking",
        "name": "Create Booking",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4256,
          128
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "Direct PostgREST insert sur table bookings. Bypass de l'API Next.js qui exigeait une session user. Auth via credential Supabase mRd60LO2hwQq9oBH (service_role)."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://resaapp.fr/api/v1/channels/send",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel",
                "value": "={{ $('Build Context').first().json.channel }}"
              },
              {
                "name": "recipient_id",
                "value": "={{ $('Build Context').first().json.sender_id }}"
              },
              {
                "name": "message",
                "value": "={{ $('Compute Token Cost').first().json.response_text }}"
              },
              {
                "name": "merchant_id",
                "value": "={{ $('Build Context').first().json.merchant_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "send-reply",
        "name": "Send Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4496,
          256
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "EaRZ4TQKBMrRdlVX",
            "name": "Internal API Secret"
          }
        },
        "notes": "POST internal /api/v1/channels/send. Auth via X-Internal-Secret credential. Body inclut merchant_id (requis par la route)."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "merchant_id",
                "value": "={{ $('Build Context').first().json.merchant_id }}"
              },
              {
                "name": "conversation_id",
                "value": "={{ $('Ensure Conversation').first().json.id }}"
              },
              {
                "name": "sender",
                "value": "ai"
              },
              {
                "name": "content",
                "value": "={{ $('Compute Token Cost').first().json.response_text }}"
              }
            ]
          },
          "options": {},
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "id": "save-ai-message",
        "name": "Save AI Message",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4736,
          256
        ],
        "notes": "Persist AI response in messages table for dashboard visibility",
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"ok\",\n  \"response_text\": \"{{ $json.response_text }}\",\n  \"action\": \"{{ $json.action }}\",\n  \"booking_data\": {{ JSON.stringify($json.booking_data || null) }}\n}",
          "options": {}
        },
        "id": "respond-webhook",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          4944,
          256
        ]
      },
      {
        "parameters": {
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/merchants",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,name,slug,ai_name,ai_tone,ai_languages,cancellation_delay_minutes,opening_hours,ai_monthly_token_budget,ai_alert_email"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "options": {}
        },
        "id": "29a9bd67-9be4-4723-9ed3-8b563252b01f",
        "name": "Find Merchant",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -48,
          64
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "Mono-tenant MVP : récupère le 1er merchant. À adapter en multi-tenant via wa_phone_number_id mapping."
      },
      {
        "parameters": {
          "jsCode": "/**\n * Build Context — flatten webhook + merchant + client into a single object\n * for downstream nodes (Sanitize, Check Budget, AI prompt, etc.)\n */\nconst wh = $('Webhook Trigger').first().json;\nconst body = wh.body || wh;\n\nconst merchantArr = $('Find Merchant').first().json;\nconst merchant = (Array.isArray(merchantArr) && merchantArr.length > 0) ? merchantArr[0] : (merchantArr || {});\n\nconst clientResp = $('Identify Client').first().json;\nconst client = Array.isArray(clientResp) && clientResp.length > 0\n  ? clientResp[0]\n  : (clientResp && clientResp.id ? clientResp : {});\n\nreturn [{\n  json: {\n    // From Webhook payload\n    channel: body.channel || 'whatsapp',\n    sender_id: body.sender_phone || body.sender_id,\n    sender_name: body.sender_name,\n    message_text: body.message_text || '',\n    wa_message_id: body.wa_message_id,\n    wa_phone_number_id: body.wa_phone_number_id,\n    timestamp: body.timestamp,\n\n    // From Find Merchant\n    merchant_id: merchant.id,\n    salon_name: merchant.name || 'Salon',\n    ai_name: merchant.ai_name || 'AurA',\n    ai_tone: merchant.ai_tone || 'friendly',\n    ai_languages: merchant.ai_languages || ['fr'],\n    preferred_language: (merchant.ai_languages && merchant.ai_languages[0]) || 'fr',\n    cancellation_delay_minutes: merchant.cancellation_delay_minutes || 120,\n    opening_hours: merchant.opening_hours || {},\n    ai_monthly_token_budget: merchant.ai_monthly_token_budget || 100000,\n    ai_alert_email: merchant.ai_alert_email || null,\n\n    // From Identify Client (upsert result)\n    client_id: client.id,\n    client_name: client.name || body.sender_name || 'Inconnu',\n    loyalty_points: client.loyalty_points || 0,\n    preferred_service: client.preferred_service_id || 'aucun',\n    preferred_practitioner: client.preferred_practitioner_id || 'aucun',\n\n    // Placeholders (filled by downstream nodes)\n    conversation_id: null,\n    conversation_history: 'Premiere interaction',\n    available_slots_text: 'Aucun creneau charge'\n  }\n}];"
        },
        "id": "35d63cb3-f3b7-40f7-89e8-6573a133235c",
        "name": "Build Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          64
        ],
        "notes": "Flatten merchant + client + webhook payload into single object. All downstream nodes consume $json.* from here."
      },
      {
        "parameters": {
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/merchants",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "=eq.{{ $('Build Context').first().json.merchant_id }}"
              },
              {
                "name": "select",
                "value": "ai_monthly_token_budget,ai_alert_email"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "options": {}
        },
        "id": "b215d377-114a-46a5-bafe-fa48c879ecba",
        "name": "Get Merchant Budget",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1296,
          64
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        }
      },
      {
        "parameters": {
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/ai_token_usage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "merchant_id",
                "value": "=eq.{{ $('Build Context').first().json.merchant_id }}"
              },
              {
                "name": "created_at",
                "value": "=gte.{{ $now.startOf('month').toISO() }}"
              },
              {
                "name": "select",
                "value": "total_tokens"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "options": {}
        },
        "id": "9dee4709-5458-42b4-bd07-c76d720e7693",
        "name": "Get Monthly Token Usage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1472,
          64
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "/**\n * Compute Budget Status — agrège merchant budget + usage du mois\n */\nconst sanitized = $('Sanitize Prompt Inputs').first().json;\n\nconst merchantData = $('Get Merchant Budget').first().json;\nconst merchant = (Array.isArray(merchantData) && merchantData.length > 0) ? merchantData[0] : {};\n\nconst usageData = $('Get Monthly Token Usage').first().json;\nconst usageRows = Array.isArray(usageData) ? usageData : [];\n\nconst budget = merchant.ai_monthly_token_budget || 100000;\nconst alertEmail = merchant.ai_alert_email || null;\nconst totalUsed = usageRows.reduce((sum, r) => sum + (r.total_tokens || 0), 0);\nconst usagePercent = budget > 0 ? Math.round((totalUsed / budget) * 100) : 0;\nconst budgetExceeded = totalUsed >= budget;\n\nreturn [{\n  json: {\n    ...sanitized,\n    ai_budget: budget,\n    ai_alert_email: alertEmail,\n    ai_used_tokens: totalUsed,\n    ai_usage_percent: usagePercent,\n    ai_budget_exceeded: budgetExceeded\n  }\n}];"
        },
        "id": "f8e8cc87-4b09-4c63-a7eb-abfb4fb9c696",
        "name": "Compute Budget Status",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1664,
          64
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * Compute Token Cost — calcule cost_eur depuis les tokens LLM\n */\nconst data = $input.first().json;\n\nconst PRICING = {\n  gemini: { prompt: 0.075 / 1_000_000, completion: 0.30 / 1_000_000 },\n  mistral: { prompt: 0.10 / 1_000_000, completion: 0.30 / 1_000_000 },\n  static: { prompt: 0, completion: 0 }\n};\n\nconst pricing = PRICING[data.llm_provider] || PRICING.static;\nconst costEur = (data.llm_prompt_tokens || 0) * pricing.prompt\n              + (data.llm_completion_tokens || 0) * pricing.completion;\n\nreturn [{\n  json: {\n    ...data,\n    token_cost_eur: costEur\n  }\n}];"
        },
        "id": "634dd664-92ec-4915-a7ad-eb87c8bd6a4e",
        "name": "Compute Token Cost",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3008,
          224
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/ai_token_usage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"merchant_id\": \"{{ $('Build Context').first().json.merchant_id }}\",\n  \"conversation_id\": {{ $('Build Context').first().json.conversation_id ? '\"' + $('Build Context').first().json.conversation_id + '\"' : 'null' }},\n  \"model\": \"{{ $json.llm_model }}\",\n  \"provider\": \"{{ $json.llm_provider }}\",\n  \"prompt_tokens\": {{ $json.llm_prompt_tokens || 0 }},\n  \"completion_tokens\": {{ $json.llm_completion_tokens || 0 }},\n  \"total_tokens\": {{ $json.llm_total_tokens || 0 }},\n  \"cost_eur\": {{ $json.token_cost_eur || 0 }},\n  \"is_fallback\": {{ $json.llm_is_fallback || false }},\n  \"error_message\": {{ $json.llm_error ? '\"' + $json.llm_error + '\"' : 'null' }}\n}",
          "options": {}
        },
        "id": "e68b55a1-6b7b-48a6-934e-0e074b3960d1",
        "name": "Insert Token Usage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3184,
          224
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "/**\n * Compute Alert Level — détermine le niveau d'alerte basé sur le budget\n * (anomaly detection 7j déférée — à ajouter via 2 HTTP nodes Get Daily Avg / Get Today)\n */\nconst data = $input.first().json;\n\nconst usedBefore = data.ai_used_tokens || 0;\nconst justAdded = data.llm_total_tokens || 0;\nconst newTotal = usedBefore + justAdded;\nconst budget = data.ai_budget || 100000;\nconst newPercent = budget > 0 ? Math.round((newTotal / budget) * 100) : 0;\n\nlet alertLevel = 'none';\nif (newPercent >= 100) alertLevel = 'critical';\nelse if (newPercent >= 95) alertLevel = 'warning';\nelse if (newPercent >= 80) alertLevel = 'info';\n\nreturn [{\n  json: {\n    ...data,\n    token_log_cost_eur: data.token_cost_eur || 0,\n    token_log_new_total: newTotal,\n    token_log_new_percent: newPercent,\n    token_log_alert_level: alertLevel,\n    token_log_is_anomaly: false,\n    token_log_daily_avg: 0\n  }\n}];"
        },
        "id": "4f6bb70f-1aa0-41b8-889b-b17cf1c012d1",
        "name": "Compute Alert Level",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3360,
          224
        ]
      },
      {
        "id": "bf6be6ab-08d8-4af4-8d84-cb244852cd31",
        "name": "Check Availability",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2848,
          48
        ],
        "parameters": {
          "method": "POST",
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/rpc/get_available_slots",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "p_merchant_id",
                "value": "={{ $('Build Context').first().json.merchant_id }}"
              },
              {
                "name": "p_date",
                "value": "={{ $('Parse Gemini Response').first().json.tool_args.date || $today.format('yyyy-MM-dd') }}"
              },
              {
                "name": "p_duration_minutes",
                "value": "={{ $('Parse Gemini Response').first().json.tool_args.duration_minutes || 30 }}"
              },
              {
                "name": "p_scan_days",
                "value": "={{ $('Parse Gemini Response').first().json.tool_args.scan_days || 1 }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "RPC get_available_slots: returns free slots for merchant+date+duration (migration 021). Used by Sanitize to build safe_available_slots_text for LLM prompt.",
        "onError": "continueRegularOutput",
        "alwaysOutputData": true
      },
      {
        "id": "0cad367d-df43-41ce-8e81-2419d5945ce4",
        "name": "Has Tool Call?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2624,
          128
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-tool-call-check",
                "leftValue": "={{ $json.has_tool_call }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "a1162a0d-0397-4836-b9bb-7e7280d892da",
        "name": "Build Tool Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3072,
          48
        ],
        "parameters": {
          "jsCode": "/**\n * Build Tool Response v2 — groupe les slots par date quand scan_days > 1\n * pour que Gemini AI Final puisse proposer le 1er créneau dispo à coup sûr.\n */\nconst availItems = $('Check Availability').all() || [];\nconst validSlots = availItems.filter(it => it && it.json && it.json.slot_start);\n\nlet tool_response_data;\nif (validSlots.length === 0) {\n  tool_response_data = {\n    days: [],\n    count: 0,\n    message: \"Aucun créneau disponible pour la période demandée.\"\n  };\n} else {\n  const timeFmt = new Intl.DateTimeFormat('fr-FR', {\n    timeZone: 'Europe/Paris',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  });\n  const dayLabelFmt = new Intl.DateTimeFormat('fr-FR', {\n    timeZone: 'Europe/Paris',\n    weekday: 'long',\n    day: 'numeric',\n    month: 'long'\n  });\n  const dateKeyFmt = new Intl.DateTimeFormat('fr-CA', {\n    timeZone: 'Europe/Paris',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  });\n\n  // Regroupe les slots par date (clef = yyyy-mm-dd en tz Paris)\n  const byDate = {};\n  validSlots.forEach(it => {\n    const d = new Date(it.json.slot_start);\n    const dateKey = dateKeyFmt.format(d);\n    if (!byDate[dateKey]) {\n      byDate[dateKey] = {\n        date: dateKey,\n        day_label: dayLabelFmt.format(d),\n        slots: []\n      };\n    }\n    byDate[dateKey].slots.push({\n      time: timeFmt.format(d),\n      iso: it.json.slot_start,\n      practitioner: it.json.practitioner_name,\n      practitioner_id: it.json.practitioner_id\n    });\n  });\n\n  const days = Object.values(byDate).sort((a, b) => a.date.localeCompare(b.date));\n  tool_response_data = {\n    days: days,\n    count: validSlots.length,\n    message: `${validSlots.length} créneau${validSlots.length > 1 ? 'x' : ''} disponible${validSlots.length > 1 ? 's' : ''} sur ${days.length} jour${days.length > 1 ? 's' : ''}.`\n  };\n}\n\nconst ctx = $('Parse Gemini Response').first().json;\n\nreturn [{\n  json: {\n    ...ctx,\n    tool_response_data: tool_response_data\n  }\n}];\n"
        }
      },
      {
        "id": "9916958e-058a-43cc-b6ad-4fad6b9f906b",
        "name": "Gemini AI Final",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3296,
          48
        ],
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpQueryAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"[CLIENT MESSAGE START]\\n{{ $('Compute Budget Status').first().json.safe_message_text }}\\n[CLIENT MESSAGE END]\"}]},{\"role\":\"model\",\"parts\":{{ JSON.stringify($('Parse Gemini Response').first().json.conversation_parts) }} },{\"role\":\"user\",\"parts\":[{\"functionResponse\":{\"name\":\"get_available_slots\",\"response\":{{ JSON.stringify($('Build Tool Response').first().json.tool_response_data) }} } }]}],\"systemInstruction\":{\"parts\":[{\"text\":\"Tu es {{ $('Compute Budget Status').first().json.ai_name || 'AurA' }}, l'assistant IA du salon {{ $('Compute Budget Status').first().json.salon_name }}.\\n\\n=== RÈGLES ABSOLUES ===\\n1. Si {{ $('Compute Budget Status').first().json.safe_has_history }} = true → NE COMMENCE PAS par Bonjour/Bonsoir. Enchaine direct.\\n2. Si false → commence par '{{ $('Compute Budget Status').first().json.safe_greeting_word }}'.\\n3. Vouvoiement, chaleureux et professionnel. Max 3 phrases.\\n4. JAMAIS Coucou/Salut/Hello.\\n5. Ne demande JAMAIS l'année.\\n\\n=== CONTEXTE ===\\nAUJOURD'HUI : {{ $('Compute Budget Status').first().json.ref_dates.today_label }}\\nServices : {{ $('Compute Budget Status').first().json.safe_services_list }}\\n\\n=== HISTORIQUE ===\\n{{ $('Compute Budget Status').first().json.safe_conversation_history }}\\n\\n=== DATES DE RÉFÉRENCE (pour alternatives) ===\\ndemain: {{ $('Compute Budget Status').first().json.ref_dates.tomorrow }}, après-demain: {{ $('Compute Budget Status').first().json.ref_dates.day_after_tomorrow }}, lundi: {{ $('Compute Budget Status').first().json.ref_dates.next_monday }}, mardi: {{ $('Compute Budget Status').first().json.ref_dates.next_tuesday }}, mercredi: {{ $('Compute Budget Status').first().json.ref_dates.next_wednesday }}, jeudi: {{ $('Compute Budget Status').first().json.ref_dates.next_thursday }}, vendredi: {{ $('Compute Budget Status').first().json.ref_dates.next_friday }}\\n\\n=== RÉSULTAT DE get_available_slots ===\\nLe tool_response_data a ce format : { days: [{date, day_label, slots: [{time, iso, practitioner, practitioner_id}]}], count, message }\\n\\nCAS 1 : count > 0 (au moins 1 créneau trouvé)\\n→ Prends le 1er jour de days[] (le plus proche). Propose 2 ou 3 créneaux de ce jour maximum au client.\\n→ Exemple : 'Je peux vous proposer 3 créneaux le mardi 14 avril : 9h avec Nora, 10h30 avec Nora, ou 14h avec Nora.'\\n→ Si le 1er jour a peu de slots et qu'il y a d'autres jours, tu peux mentionner qu'il y a aussi des dispos plus tard dans la semaine.\\n\\nCAS 2 : count === 0 (aucun créneau sur toute la période scannée)\\n→ Dis poliment qu'aucune dispo n'a été trouvée sur cette période.\\n→ Propose au client de étendre la recherche ou de choisir une autre période. Ex : 'Je n'ai trouvé aucune disponibilité sur la période demandée. Souhaitez-vous que je regarde la semaine suivante ?'\\n→ NE JAMAIS inventer des dates non vérifiées.\\n\\nRéponds en {{ $('Compute Budget Status').first().json.preferred_language || 'français' }} avec FORMAT JSON strict : response_text, action (propose_slots), booking_data (practitioner_id, service_id, starts_at, ends_at - tous null).\"}]},\"generationConfig\":{\"temperature\":0.2,\"maxOutputTokens\":500,\"responseMimeType\":\"application/json\"} }",
          "options": {}
        },
        "credentials": {
          "httpQueryAuth": {
            "id": "Yn2UQRijLEI1k4Nl",
            "name": "Query Auth account"
          }
        },
        "notes": "Gemini 2e appel — après tool execution. Reçoit contents avec user+model(functionCall)+user(functionResponse) et génère la réponse textuelle finale."
      },
      {
        "id": "a3e08b0c-1618-405d-9772-6660f37f588e",
        "name": "Parse Final Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3520,
          128
        ],
        "parameters": {
          "jsCode": "/**\n * Parse Final Response — extrait le texte JSON de la 2e réponse Gemini\n * (celle qui a reçu le résultat du tool) et merge les tokens du 1er + 2e appel.\n *\n * Option D : Gemini function calling pattern.\n */\nconst geminiOutput = $input.first().json;\nconst candidate = geminiOutput.candidates?.[0];\nconst text = candidate?.content?.parts?.[0]?.text || '{}';\nconst usageMetadata = geminiOutput.usageMetadata || {};\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {\n    response_text: text || \"Désolé, je n'ai pas compris. Pouvez-vous reformuler ?\",\n    action: 'none',\n    booking_data: {}\n  };\n}\n\nconst ctx = $('Build Tool Response').first().json;\n\nconst call1Prompt = ctx.gemini_call1_prompt_tokens || 0;\nconst call1Completion = ctx.gemini_call1_completion_tokens || 0;\nconst call2Prompt = usageMetadata.promptTokenCount || 0;\nconst call2Completion = usageMetadata.candidatesTokenCount || 0;\n\nreturn [{\n  json: {\n    ...ctx,\n    response_text: parsed.response_text,\n    action: parsed.action || 'none',\n    booking_data: parsed.booking_data || {},\n    llm_provider: 'gemini',\n    llm_model: 'gemini-2.5-flash-lite',\n    llm_prompt_tokens: call1Prompt + call2Prompt,\n    llm_completion_tokens: call1Completion + call2Completion,\n    llm_total_tokens: call1Prompt + call1Completion + call2Prompt + call2Completion,\n    llm_is_fallback: false,\n    llm_error: null\n  }\n}];\n"
        }
      },
      {
        "id": "e07921f3-5354-4903-a491-9d8b0a3a8320",
        "name": "Save Client Message",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          192
        ],
        "parameters": {
          "method": "POST",
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "merchant_id",
                "value": "={{ $('Build Context').first().json.merchant_id }}"
              },
              {
                "name": "conversation_id",
                "value": "={{ $('Ensure Conversation').first().json.id }}"
              },
              {
                "name": "sender",
                "value": "client"
              },
              {
                "name": "content",
                "value": "={{ $('Build Context').first().json.message_text }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "Persiste le message client dans messages table avant Gemini. Utilisé pour charger l'historique à la prochaine interaction.",
        "executeOnce": true
      },
      {
        "id": "3df63304-1388-4001-8519-79ebbd08fbff",
        "name": "Ensure Conversation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          384,
          192
        ],
        "parameters": {
          "method": "POST",
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/rpc/get_or_create_active_conversation",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "p_merchant_id",
                "value": "={{ $('Build Context').first().json.merchant_id }}"
              },
              {
                "name": "p_client_id",
                "value": "={{ $('Build Context').first().json.client_id }}"
              },
              {
                "name": "p_channel",
                "value": "={{ $('Build Context').first().json.channel || 'whatsapp' }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "RPC get_or_create_active_conversation (migration 022). Retourne l'ID UUID de la conversation active. Body = la string UUID directement, donc $json = 'uuid-string'.",
        "executeOnce": true
      },
      {
        "id": "984dcaa7-2c6f-4c1b-88f6-d320169a4e48",
        "name": "Load Services",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          160,
          192
        ],
        "parameters": {
          "method": "GET",
          "url": "https://txebdgmufdsnkrntzvwn.supabase.co/rest/v1/services",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4ZWJkZ211ZmRzbmtybnR6dnduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4ODI4NSwiZXhwIjoyMDkwODY0Mjg1fQ.Lhs0hpkH5IIEDlDnJoebaCt6saQ26K370VNe3s4j36o"
              }
            ]
          },
          "sendQuery": true,
          "specifyQuery": "keypair",
          "queryParameters": {
            "parameters": [
              {
                "name": "merchant_id",
                "value": "=eq.{{ $('Find Merchant').first().json.id }}"
              },
              {
                "name": "is_active",
                "value": "eq.true"
              },
              {
                "name": "select",
                "value": "id,name,duration_minutes,price_cents"
              },
              {
                "name": "order",
                "value": "sort_order.asc"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "oRRRgpJ5HWoIrVpQ",
            "name": "Supabase apikey"
          }
        },
        "notes": "Liste des services actifs du merchant (id, nom, durée, prix). Injecté dans le prompt Gemini pour qu'il propose un service au lieu de demander une durée.",
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Check Client Subscriptions": {
        "main": [
          [
            {
              "node": "Sanitize Prompt Inputs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Budget Exceeded?": {
        "main": [
          [
            {
              "node": "Static Fallback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Gemini AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini AI": {
        "main": [
          [
            {
              "node": "Parse Gemini Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mistral Fallback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Fallback": {
        "main": [
          [
            {
              "node": "Parse Mistral Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Static Fallback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Alert Needed?": {
        "main": [
          [
            {
              "node": "Send Budget Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Booking Action?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Budget Alert": {
        "main": [
          [
            {
              "node": "Booking Action?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Booking Action?": {
        "main": [
          [
            {
              "node": "Create Booking",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Save AI Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save AI Message": {
        "main": [
          [
            {
              "node": "Send Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Find Merchant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Merchant": {
        "main": [
          [
            {
              "node": "Load Services",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Identify Client": {
        "main": [
          [
            {
              "node": "Build Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sanitize Prompt Inputs": {
        "main": [
          [
            {
              "node": "Get Merchant Budget",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Merchant Budget": {
        "main": [
          [
            {
              "node": "Get Monthly Token Usage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Monthly Token Usage": {
        "main": [
          [
            {
              "node": "Compute Budget Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Budget Status": {
        "main": [
          [
            {
              "node": "Budget Exceeded?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Mistral Response": {
        "main": [
          [
            {
              "node": "Compute Token Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Static Fallback": {
        "main": [
          [
            {
              "node": "Compute Token Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Token Cost": {
        "main": [
          [
            {
              "node": "Insert Token Usage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Token Usage": {
        "main": [
          [
            {
              "node": "Compute Alert Level",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Alert Level": {
        "main": [
          [
            {
              "node": "Alert Needed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Client Packages": {
        "main": [
          [
            {
              "node": "Check Client Subscriptions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Gemini Response": {
        "main": [
          [
            {
              "node": "Has Tool Call?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Tool Call?": {
        "main": [
          [
            {
              "node": "Check Availability",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Compute Token Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Availability": {
        "main": [
          [
            {
              "node": "Build Tool Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Tool Response": {
        "main": [
          [
            {
              "node": "Gemini AI Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini AI Final": {
        "main": [
          [
            {
              "node": "Parse Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Final Response": {
        "main": [
          [
            {
              "node": "Compute Token Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Conversation History": {
        "main": [
          [
            {
              "node": "Save Client Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Client Message": {
        "main": [
          [
            {
              "node": "Check Client Packages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Context": {
        "main": [
          [
            {
              "node": "Ensure Conversation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ensure Conversation": {
        "main": [
          [
            {
              "node": "Load Conversation History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Services": {
        "main": [
          [
            {
              "node": "Identify Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Booking": {
        "main": [
          [
            {
              "node": "Save AI Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Reply": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Aura_Solutions",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-11T17:03:01.644Z",
        "id": 168,
        "workflowId": "ztxCL7QS1DLo1i59",
        "versionId": "9a28ef11-8006-4c04-8032-961d5a5a9394",
        "event": "activated",
        "userId": "207c7094-166b-443e-979e-36ed4b287e4f"
      },
      {
        "createdAt": "2026-04-11T17:03:01.620Z",
        "id": 167,
        "workflowId": "ztxCL7QS1DLo1i59",
        "versionId": "9a28ef11-8006-4c04-8032-961d5a5a9394",
        "event": "deactivated",
        "userId": "207c7094-166b-443e-979e-36ed4b287e4f"
      }
    ]
  }
}
